<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.j1902.mapper.DocMapper">


    <select id="getAllDoc" resultType="Doctor">
    SELECT
        doctorid,
        username,
        telphone,
        depid,
        jobtitle,
        doctorinfo,
        hpid
    FROM
    user ,
    doctor
    WHERE
    user.userid=doctor.doctorid
    and
    if_valid=1
	</select>
    <select id="getDoctorsByDepName" parameterType="string" resultType="Doctor">
        SELECT * FROM doctor WHERE depName=#{string} order by answercount desc limit 0,4;
    </select>

    <delete id="delDocById">
    delete from
    doctor
    where
    doctorid=#{id}
    </delete>

    <update id="UpDocById" parameterType="com.qf.j1902.pojo.Doctor">
        update
        doctor d,
        user u
        set
        u.telphone=#{doctor.telphone},
        d.depid=#{doctor.depid},
        d.jobtitle=#{doctor.jobtitle},
        d.doctorinfo=#{doctor.doctorinfo},
        d.hpid=#{doctor.hpid}
        where
        d.doctorid=#{doctor.doctorid}
        and u.username=#{doctor.username}
    </update>
    <select id="getDoctorsAllByDepName" parameterType="string" resultType="Doctor">
        SELECT * FROM doctor WHERE depName=#{string} order by answercount desc
    </select>
    <select id="getDoctorById" resultType="Doctor">
        SELECT * FROM doctor WHERE doctorid = #{doctorid}
    </select>




    <!--<insert id="insert">-->
	    <!--insert into users (id, name, funkyNumber, roundingMode) values (-->
	    	<!--#{id}, #{name}, #{funkyNumber}, #{roundingMode}-->
	    <!--)-->
	<!--</insert>-->


</mapper>