<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.j1902.mapper.DocMapper">


    <select id="getAllDoc" resultType="Doctor">
    SELECT
        doctorid,
        user.username,
        hpName,
        depName,
        jobtitle,
        doctorinfo,
        answercount,
        relname,
        doctor.avatar,
        idcard

    FROM
    user ,
    doctor
    WHERE
    user.userid=doctor.doctorid
    and
    if_valid=1
	</select>
    <select id="getDoctorsByDepName" parameterType="string" resultType="Doctor">
        SELECT * FROM doctor WHERE depName=#{string} order by answercount desc limit 0,4;
    </select>

    <delete id="delDocById">
    delete from
    doctor
    where
    doctorid=#{id}
    </delete>

    <update id="UpDocById" parameterType="com.qf.j1902.pojo.Doctor">
        update
        doctor d,
        user u
        set
        u.telphone=#{doctor.telphone},
        d.depName=#{doctor.depName},
        d.jobtitle=#{doctor.jobtitle},
        d.doctorinfo=#{doctor.doctorinfo},
        d.hpName=#{doctor.hpName},
        where
        d.doctorid=#{doctor.doctorid}
        and d.username=#{doctor.username}
    </update>
    <select id="getDoctorsAllByDepName" parameterType="string" resultType="Doctor">
        SELECT * FROM doctor WHERE depName=#{string} order by answercount desc
    </select>
    <select id="getDoctorById" resultType="Doctor">
        SELECT * FROM doctor WHERE doctorid = #{doctorid}
    </select>
    <insert id="addDoctor" parameterType="Doctor">
        INSERT INTO doctor (username,relname,hpName,depName,jobtitle,avatar,idcard,certificateimg,doctorinfo) VALUES
        (#{username},#{relname},#{hpName},#{depName},#{jobtitle},#{avatar},#{idcard},#{certificateimg},#{doctorinfo})
    </insert>




    <!--<insert id="insert">-->
	    <!--insert into users (id, name, funkyNumber, roundingMode) values (-->
	    	<!--#{id}, #{name}, #{funkyNumber}, #{roundingMode}-->
	    <!--)-->
	<!--</insert>-->


</mapper>