<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.j1902.mapper.TDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.qf.j1902.pojo.TDepartment" >
    <id column="depId" property="depid" jdbcType="INTEGER" />
    <result column="depName" property="depname" jdbcType="VARCHAR" />
    <result column="deptimg" property="deptimg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    depId, depName, deptimg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.j1902.pojo.TDepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_department
    where depId = #{depid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_department
    where depId = #{depid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.j1902.pojo.TDepartmentExample" >
    delete from t_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.j1902.pojo.TDepartment" >
    insert into t_department (depId, depName, deptimg
      )
    values (#{depid,jdbcType=INTEGER}, #{depname,jdbcType=VARCHAR}, #{deptimg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.j1902.pojo.TDepartment" >
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depid != null" >
        depId,
      </if>
      <if test="depname != null" >
        depName,
      </if>
      <if test="deptimg != null" >
        deptimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depid != null" >
        #{depid,jdbcType=INTEGER},
      </if>
      <if test="depname != null" >
        #{depname,jdbcType=VARCHAR},
      </if>
      <if test="deptimg != null" >
        #{deptimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.j1902.pojo.TDepartmentExample" resultType="java.lang.Integer" >
    select count(*) from t_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_department
    <set >
      <if test="record.depid != null" >
        depId = #{record.depid,jdbcType=INTEGER},
      </if>
      <if test="record.depname != null" >
        depName = #{record.depname,jdbcType=VARCHAR},
      </if>
      <if test="record.deptimg != null" >
        deptimg = #{record.deptimg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_department
    set depId = #{record.depid,jdbcType=INTEGER},
      depName = #{record.depname,jdbcType=VARCHAR},
      deptimg = #{record.deptimg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.j1902.pojo.TDepartment" >
    update t_department
    <set >
      <if test="depname != null" >
        depName = #{depname,jdbcType=VARCHAR},
      </if>
      <if test="deptimg != null" >
        deptimg = #{deptimg,jdbcType=VARCHAR},
      </if>
    </set>
    where depId = #{depid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.j1902.pojo.TDepartment" >
    update t_department
    set depName = #{depname,jdbcType=VARCHAR},
      deptimg = #{deptimg,jdbcType=VARCHAR}
    where depId = #{depid,jdbcType=INTEGER}
  </update>
</mapper>