<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--看过的问题-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #F5F5F5">
<div style="position: absolute;left: 450px;top: 25px;font-size: 13px;color: #A9A9A9 ">我看过的问题</div>
<div style="position: absolute;left: 1000px;top: 25px;font-size: 13px;color: #A9A9A9">清空</div>
<div style="position: absolute;left: 400px;top: 50px;width: 700px;height: 100px;background-color: white"><p style="margin-top: 35px;margin-left: 50px;color:grey ">你看过的公开问题会出现在这里，你还没有查看过公开问题。</p></div>
</body>
</html>