<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
    <script src="layui/layui.all.js"></script>
    <<link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <!--<script src="layer/layer.js" merge="true"></script>
    <link rel="stylesheet" href="layer/theme/default/layer.css">-->
    <!--http://localhost:8080/layer/theme/default/layer.css-->
</head>
<style>
    .loginandreg{
        position: relative;
        top: -40px;
        left: 1080px;
    }
</style>
<script>
    //通过判断session的值是否为空，改变五个标签的hidden属性
    function searchSession() {
        var username = document.getElementById("uname").innerHTML;
        //获取五个标签对应的对象
        var logina = document.getElementById("logina");
        var rega = document.getElementById("rega");
        var helloa = document.getElementById("helloa");
        var uname = document.getElementById("uname");
        var logouta = document.getElementById("logouta");

        if (username != ""){
            //如果不为空，说明已登录
            logina.setAttribute("hidden",true);
            rega.setAttribute("hidden",true);
            helloa.removeAttribute("hidden");
            uname.removeAttribute("hidden");
            logouta.removeAttribute("hidden");
        }else {
            //否则说明未登录或已退出
            logina.removeAttribute("hidden");
            rega.removeAttribute("hidden");
            helloa.setAttribute("hidden",true);
            logouta.setAttribute("hidden",true);
            uname.setAttribute("hidden",true);

        }
    }
    window.onload=function () {
        searchSession();
    }

</script>
<body style="background-color: #F5F5F5">
<div class="layui-nav layui-bg-green" style="width: 100%;height: 50px;">
    <div class="ly-inner pg-inner">
        <ul class="topline-list fl clearfix">
            <li class="layui-nav-item"><a target="_blank" href=" ">丁香园</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://bbs.dxy.cn">论坛</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://www.biomart.cn/">丁香通</a> </li>
            <li class="layui-nav-item"><a target="_blank" href="http://i.dxy.cn/">丁香客</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://www.jobmd.cn/">医药招聘</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://paper.pubmed.cn/">文献求助</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">更多</a>
                <dl class="layui-nav-child">
                    <dd>< a href="">会议</a></dd>
                    <dd>< a href="">用药助手</a></dd>
                    <dd>< a href="">叮当铺</a></dd>
                </dl>
            </li>
        </ul>
        <div>
            <a class="loginandreg" id="logina" href="login" style="background-color: transparent;">登录</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a class="loginandreg" id="rega" href="reg" style="background-color: transparent;">注册</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <span class="loginandreg" id="helloa" style="background-color: transparent;">你好：</span>
            <span class="loginandreg" id="uname" style="background-color: transparent;" th:text="${session.username}" ></span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a class="loginandreg" id="logouta" href="logout" style="background-color: transparent;">退出</a>
        </div>
    </div>

</div>

<br><br>
<div style="width: 100%;height:550px;"  >
    <!--border: 0.01px solid-->
    <div style="width: 15%;height: 550px;float: left;margin-left: 300px;background-color: skyblue"  align="center">
        <br><br>
        <img th:src="@{'/userimg/'+${user.avatar}}"  style="width: 130px;height: 100px">
        <br><br>
        <br>
        <hr style="border: 0.01px solid gray">
        <div align="left">
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a href="personalCenter" style="font-size: 18px">账号管理</a>
            <br>
            <hr style="border: 0.01px solid gray">
        </div>
        <div align="left">
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a href="mySubscription" style="font-size: 18px">我的订阅</a>
            <br>
            <hr style="border: 0.01px solid gray">
        </div>
        <div align="left">
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a href="doctorApplication" style="font-size: 18px">医师认证</a>
            <br>
            <hr style="border: 0.01px solid gray">
        </div>

    </div>
    <div style="width: 45%;height:550px;float: left;background-color: white">
        <div align="center">
            <span style="font-size: x-large" align="left"> 医师认证 </span>
        </div>
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" align="center">
            <form class="layui-form" action="/referDoctor" method="post">
                <div class="layui-inline">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="tel" style="width: 220px"  name="relname" lay-verify="required|phone" autocomplete="off" placeholder="请输入真实姓名" class="layui-input">
                    </div>
                </div>
                <br><br>
                <div class="layui-form-item">
                    <label class="layui-form-label">&nbsp;&nbsp;医&nbsp;&nbsp;&nbsp;&nbsp;院&nbsp;&nbsp;</label>
                    <div class="layui-input-inline" style="width: 150px;height: 30px">
                        <select style="width: 145px;height: 30px" name="provid" id="provinces" lay-filter="provinces">
                            <option value="">请选择省</option>

                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 150px;height: 30px" align="center">
                        <select style="width: 145px;height: 30px" name="cityid" id="citys" lay-filter="citys">
                            <option value="">请选择市</option>

                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 150px;height: 30px"  align="center" >
                        <select  style="width: 145px;height: 30px" name="hospatalid" id="hospatals" lay-filter="hospatal">
                            <option value="">请选择医院</option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class="layui-form-label">&nbsp;&nbsp;科&nbsp;&nbsp;&nbsp;&nbsp;室&nbsp;&nbsp;</label>
                    <div class="layui-input-inline" style="width: 220px;height: 30px">
                        <select name="depid" id="depid" lay-filter="depid" style="width: 145px;height: 30px">
                            <option value="">请选择科室</option>
                        </select>
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">&nbsp;&nbsp;职&nbsp;&nbsp;&nbsp;&nbsp;称&nbsp;&nbsp;</label>
                    <div class="layui-input-inline">
                        <input type="text" style="width: 220px" name="jobtitle" lay-verify="email" autocomplete="off"
                               placeholder="请输入职称" class="layui-input">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">身&nbsp;&nbsp;份&nbsp;&nbsp;证</label>
                    <!--<div class="layui-input-inline" style="float: left">
                        <input type="text" style="width: 220px" name="idcard" lay-verify="email" autocomplete="off"placeholder="文件名" class="layui-input">
                    </div>-->
                    <!--<input  name="shenfen" id="shenfenid" hidden/>-->
                    <input hidden id="img_url1" name="shenfen"/>
                    <div class="layui-upload" style="float: left">
                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="layui-btn" id="uploadidimg">保存</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="layui-btn layui-btn-normal" id="idcardbut">选择文件</button>
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">医师证书</label>
                    <!--<div class="layui-input-inline" style="float: left">
                        <input type="text" style="width: 220px" name="certificateimg" lay-verify="email" autocomplete="off"placeholder="文件名" class="layui-input">
                    </div>-->
                    <!--<input  name="zhicheng" id="zhichengid" hidden/>-->
                    <input hidden id="img_url2" name="zhicheng"/>
                    <div class="layui-upload" style="float: left">
                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="layui-btn" id="uploaddocimg">保存</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="layui-btn layui-btn-normal" id="certificateimgbut">选择文件</button>
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">个人简介</label>
                   <!-- <div class="layui-input-inline">
                        <input type="text" class="layui-textarea" style="width: 550px;height: 61px" data-options="multiline:true" name="doctorinfo" lay-verify="email" autocomplete="off" placeholder="请输入个人简介,200以内" class="layui-input">
                    </div>-->
                    <div class="layui-input-block" style="width: 550px" id="doctorinfo">
                        <textarea name="doctorinfo" placeholder="请输入个人简介,200以内" class="layui-textarea" style="width: 550px;height: 61px"></textarea>
                    </div>
                </div>
                <br><br>
                <div class="layui-inline" id="reg" align="center" >
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                    <button type="submit" class="layui-btn layui-btn-normal"  style="width: 100px;height: 40px">提交申请</button>
                </div>
            </form>

        </div>
    </div>
</div>

<br><br><br><br>
<div align="center" id="bottomdiv" style="width: 100%;height: auto;background-color: #e6e6e6">
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">版权声明</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">作者编委</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香医生</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香诊所</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">投稿邮箱 doctor@dxy.com</a>
    <br><br>
    <span style="font-size: 16px;color: #4E5465">Copyright © 2000-2019DXY All Rights Reserved</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙B2-20070219-5</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙卫(03)网审[2015]&nbsp;&nbsp;048号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">医疗器械网络销售备案表编号：（浙杭）网械企备字[2018]第00246号</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">第二类医疗器械经营备案凭证编号：浙杭食药监械经营备20153170号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">网络文化经营许可证：浙网文[2018]11330-875号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">食品许可证编号：JY13301080010985</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">出版物经营许可证：新出发滨字第0064号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">人力资源许可证编号：330101000525</a>
    <br><br>
    <img src="imgs/img2.png">
    <a href="" style="font-size: 14px;color: #4E5465">浙公网安备 33010802004205号</a>
    <br><br>
    <img src="imgs/img1.jpg" style="height: 35px;width: 35px"/>
    <br>
    <br>
</div>
</body>
<script>

    //选完文件后不自动上传---身份证
    layui.use('upload', function(){
        var $ = layui.jquery,
            upload = layui.upload;
        upload.render({
            elem: '#idcardbut',
            auto: false,
            url: '/upLoadIdCard',
            bindAction: '#uploadidimg',
            /*before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#preShow').attr('src', result); //图片链接（base64）
                });
            }
            , */
                done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    alert("上传失败" + res.data.src);
                    return layer.msg('上传失败');
                }
                //上传成功
                alert("上传成功" + res.data.src);
                document.getElementById("img_url1").value = res.data.src;
                var cardid = document.getElementById("shenfenid").innerHTML = res.data.shenfen;
                return layer.msg('上传成功');
            }
            , error: function () {
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });


    });
    //选完文件后不自动上传---医师资格证
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //选择医师证件
        upload.render({
            elem: '#certificateimgbut',
            auto: false,
            url: '/upLoadDoctImg',
            bindAction: '#uploaddocimg',
           /* before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#preShow').attr('src', result); //图片链接（base64）
                });
            }
            , */
                done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    alert("上传失败" + res.data.src);

                    return layer.msg('上传失败');
                }
                //上传成功
                alert("上传成功" + res.data.src);
                document.getElementById("img_url2").value = res.data.src;
                var cardid = document.getElementById("zhichengid").innerHTML = res.data.zhicheng;
                return layer.msg('上传成功');
            }
            , error: function () {
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });



    layui.use('form', function(){
        var form = layui.form;
        getDepartments(form);
        getProvince(form);
        /*监听省select*/
        form.on('select(provinces)', function(data){
            cityChange(form,data.value);

        });
        /*监听城市select*/
        form.on('select(citys)', function(data){
            hosptalChange(form,data.value);

        });

    });
    //获取省份
    function getProvince(form) {
        $.ajax({
            url:"/getprovinces",
            type: "get",
            success:function (result) {
                var provinces=$('#provinces');
                provinces.empty();
                provinces.append("<option value='0' selected='selected'>请选择省</option>")
                for(var i in result) {
                    provinces.append('<option value="'+result[i].provinceid+'">'+result[i].province+'</option>');
                }
                form.render('select');
            }
        });
        cityChange(form,$('#provinces').val());

    };
    //获取省份对应城市
    function cityChange(form,value) {
        $.ajax({
            url:"/getcitys",
            type: "get",
            data: {"provinceid":value},
            success:function (result) {
                var citys=$('#citys');
                citys.empty();
                citys.append("<option value='0' selected='selected'>请选择市</option>")
                for(var i in result) {
                    citys.append('<option value="'+result[i].cityid+'">'+result[i].city+'</option>');
                }
                form.render('select');
            }
        });
        hosptalChange(form,$('#citys').val());
    };
    //获取城市对应医院
    function hosptalChange(form,value) {
        $.ajax({
            url:"/getHosptals",
            type: "get",
            data: {"cityid":value},
            success:function (result) {
                var citys=$('#hospatals');
                citys.empty();
                citys.append("<option value='0' selected='selected'>请选择市</option>")
                for(var i in result) {
                    citys.append('<option value="'+result[i].hpname+'">'+result[i].hpname+'</option>');
                }
                form.render('select');
            }
        });
    };
    //获取科室
    function getDepartments(form) {
        $.ajax({
            url:"/getDepartments",
            type: "get",
            success:function (result) {
                var depid=$('#depid');
                depid.empty();
                depid.append("<option value='0' selected='selected'>请选择</option>")
                for(var i in result) {
                    depid.append('<option value="'+result[i].depname+'">'+result[i].depname+'</option>');
                }
                form.render('select');
            }
        });
    };


</script>
</html>