<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="layer/mobile/need/layer.css"/>
</head>
<body style="background-color: #F5F5F5">
    <div style="position: absolute;left: 450px;top: 35px;font-size: 13px;color: #A9A9A9 ">我的钱包</div>
    <div class="huiJuan" style="position: absolute;left: 400px;top: 60px;background-color: white;width: 800px;height: 50px">
        <p style="margin-left: 50px;margin-top: 15px">优惠券</p><p style="margin-left: 750px;margin-top: -15px;color:#A9A9A9 ">></p>
    </div>
    <div style="position: absolute;left: 450px;top: 135px;font-size: 13px;color: #A9A9A9 ">我的提问</div>
    <div class="tiWen" style="position: absolute;left: 400px;top: 160px;background-color: white; white;width: 800px;height: 100px">
        <p style="margin-left: 50px;margin-top: 25px">你还没有向医生提过问题。现在就去提问，让医生解答你的疑惑。</p>
        <p style="margin-left: 350px;margin-top: 15px;color: #32CD32 ">马上向医生提问 > ></p>
    </div>
    <div style="position: absolute;left: 450px;top: 275px;font-size: 13px;color: #A9A9A9 ">我的信息</div>
        <div class="myQuestion" style="position: absolute;left: 400px;top: 300px;background-color: white;width: 800px;height: 50px">
            <p style="margin-left: 50px;margin-top: 15px">我看过的问题</p><p style="margin-left: 750px;margin-top: -15px;color:#A9A9A9 ">></p>
        </div>
        <div class="myFollow" style="position: absolute;left: 400px;top: 350px;background-color: white;width: 800px;height: 50px">
            <p style="margin-left: 50px;margin-top: 15px">我关注的医生</p><p style="margin-left: 750px;margin-top: -15px;color:#A9A9A9 ">></p>
        </div>
        <div style="position: absolute;left: 550px;top: 450px">
            <pre>
            使用「丁香医生」即表示你完全接受我们的 用户协议

             Copyright © 2007-2019 DXY All Rights Reserved.

                                v 3.17.3
             </pre>
        </div>
    <div class="zYs" style="position: fixed;bottom: 0px;margin-left: 400px;width: 400px;height: 60px;background-color: white;border: 1px solid #D3D3D3;border-bottom-left-radius:15px;border-top-left-radius:15px">
        <img style="margin-left: 160px;margin-top: 25px;width: 75px;height: 20px" src="imgtaozi/zhaoYiSheng.png">
    </div>
    <div class="woDe" style="position: fixed;bottom: 0px;margin-left: 800px;width: 400px;height: 60px;background-color: white;border: 1px solid #D3D3D3;border-top-right-radius:15px;border-bottom-right-radius:15px">
        <img style="margin-top: 25px;margin-left: 160px;width: 75px;height: 20px" src="imgtaozi/woDe.png">
    </div>
    <script src="layui/layui.js"></script>
    <script src="layer/layer.js"></script>
    <script src="layui/lay/modules/jquery.js"></script>
    <script>
        layui.use(['jquery','layer'],function () {
            var $=layui.$,
                $=layui.jquery;
            $(".huiJuan").click(function () {
                alert("优惠卷")
                window.location.href="coupon"
            });
            $(".tiWen").on('click',function () {
                alert("提问")
                window.location.href="userQuestions"
            });
            $(".myQuestion").on('click',function () {
                alert("我看过的问题")
                window.location.href="browsed"
            });
            $(".myFollow").on('click',function () {
                alert("我关注的医生")
                window.location.href="follow"
            });
            $(".zYs").click(function () {
                alert("找医生")
                window.location.href="seekADoctor"
            });
            $(".woDe").click(function () {
                alert("我的")
                window.location.href="personalCenter"
            });
        });
    </script>
</body>
</html>