
<!DOCTYPE html>
<html lang="utf-8"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>推荐科普 - 丁香医生</title>
    <meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="layui/css/layui.css"  media="all">
	<script src="layui/layui.js" charset="utf-8"></script>
	<script src="layui/lay/modules/jquery.js" charset="utf-8"></script>
    <script src="layer/layer.js" merge="true"></script>
    <link rel="stylesheet" href="layer/theme/default/layer.css"  media="all">
    <script src="jquery/jquery-2.1.1.min.js"></script>
	<style>
		#imgss{
			width:120px;
			height:60px;
		}
		.divdd{
			border:1px solid black;
			float:left;
			line-height: 40px;
			text-align: center;
		}

		body{
		 background-color:#f7f7f7
		}

		.xiangqingdiv{
		  /*  position:absolute;
			top:200px;
			left:200px;*/
            margin-left: 200px;
            margin-top: 20px;
			background-color:#ffffff;
			width:698px;
            height:auto;
			border:1px solid gray;
			
		}
		#divss{
			margin-top:30px;
			margin-left:20px;
			
		}
		#leftdiv{
			position:absolute;
			top:219px;
			left:900px;
			width:300px;
			height:auto;
			background-color:#f7f7f7;
			border:1px solid gray;
            float: left;
		}
		#imgaa{
			margin-top:20px;
		}
		#dingyue{
			background-color:#F8A300;
            margin-left: 100px;
		}

        .startArticle{
            background-color:#009f95;
            margin-left: 100px;
            margin-top: 20px;
        }
		#bottomdiv{
			/*position:absolute;
			top:1230px;
			left:0px;*/
            margin-top: 30px;
		}
        .card-item-hospital{
            margin-top: 80px;
            margin-bottom: 50px;
        }
        #smalldiv{
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 100px;
            height: auto;
            width: 600px;
        }
        .author{
            margin-left: 10px;
        }
        #imgaa1{
            height: 300px;
            width: 600px;
            margin-left: 10px;
        }
        .loginandreg{
            position: relative;
            top: -40px;
            left: 1000px;
        }
	</style>
</head>
<body>
<div class="layui-nav layui-bg-green" >
	<div>
		<ul>
            <li class="layui-nav-item"><a  href="">丁香园</a></li>
            <li class="layui-nav-item"><a  href="">论坛</a></li>
            <li class="layui-nav-item"><a target="_blank" href="">丁香通</a> </li>
            <li class="layui-nav-item"><a target="_blank" href="">丁香客</a></li>
            <li class="layui-nav-item"><a target="_blank" href="">医药招聘</a></li>
            <li class="layui-nav-item"><a target="_blank" href="">文献求助</a></li>
            <li class="layui-nav-item">
				<a href="javascript:;">更多</a>
				<dl class="layui-nav-child">
				  <dd><a href="">会议</a></dd>
				  <dd><a href="">用药助手</a></dd>
				  <dd><a href="">叮当铺</a></dd>
				</dl>
			  </li>
		</ul>
        <div>
            <a class="loginandreg" id="logina" href="login" style="background-color: transparent;">登录</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a class="loginandreg" id="rega" href="reg" style="background-color: transparent;">注册</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <span class="loginandreg" id="helloa" style="background-color: transparent;">你好：</span>
            <span class="loginandreg" id="uname" style="background-color: transparent;" th:text="${session.username}" ></span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a class="loginandreg" id="logouta" href="logout" style="background-color: transparent;">退出</a>
        </div>
    </div>
</div>
<div style="width:100%;height:60px" align="center">
		<a href="index"><img  id="imgss" src="logo/logo.jpg" /></a>
		<input  placeholder="请输入作者或者文章名称" name="keywords" style="width:450px;height:35px"/>
		<button id="sousuo" type="button" style="width:100px;height:42px" class="layui-btn layui-btn-warm">搜索</button>
</div>
<ul class="layui-nav layui-bg-green" align="center">
		  <li class="layui-nav-item"><a href="">首页</a></li>
		  <li class="layui-nav-item layui-this"><a href="javascript:;">医学科普</a></li>
		  <li class="layui-nav-item"><a href="">名医问答</a></li>
		  <li class="layui-nav-item"><a href="">精选专题</a></li>
		  <li class="layui-nav-item"><a href="">来问医生</a></li>
		  <li class="layui-nav-item"><a href="">全国医院</a></li>
		  <li class="layui-nav-item"><a href="">用药查询</a></li>
		  <li class="layui-nav-item"><a href="">App下载</a></li>
</ul>
<div id="bigdiv">
    <div class="xiangqingdiv">
        <div id="divss">
            <h1 th:text="${article.getPstitle()}">什么？晚上开灯睡觉也会导致肥胖！</h1><br/>
            <p class="info">
                <span class="author" th:text="${article.getPsauthor()}">作者： 丁香医生</span>&nbsp &nbsp
                <span class="time" th:text="${createtime}">2019-07-18</span>
            </p><br/>
            <img id="imgaa1" th:src="'images/'+${article.getPsimage()}" src=""/>
            <div id="smalldiv" th:text="${article.getPscontent()}">
                ddddddd
            </div>
        </div>
    </div>
    <div id="leftdiv">
            <div align="center">
                 <div id="imghh">
                       <img id="imgaa" style="width:200px;height:100px" src="logo/logo.jpg" ><br/><br/>
                       <a><span style="font-size:25px">丁香医生</span></a></br><br/>
                       <span>健康科普平台</span>
                 </div>
            </div><br/>
            <button id="dingyue" style="width:100px;height:40px">订阅</button>
            <button  class="startArticle" style="width:100px;height:40px">发起科普文章</button>

        <div class="card-item-hospital" align="center">
            <div class="tit">
                <h3>就医推荐</h3>
                <span class="tit-keyword">

                </span>
            </div>
            <div class="cnt">
                <ul>

                    <li class="item-list">
                        <div class="list-tit">
                            <a href="" target="_blank">
                                西京医院
                            </a>
                            <a href="" target="_blank">
                                妇产科
                            </a>
                        </div>
                        <div class="list-cnt">
                            <p>地址： 陕西省西安市长乐西路15号</p>
                            <p>电话： 029-84775507</p>
                        </div>
                    </li>

                    <li class="item-list">
                        <div class="list-tit">
                            <a href="" target="_blank">
                                西安市第四医院
                            </a>
                            <a href="" target="_blank">
                                妇产科
                            </a>
                        </div>
                        <div class="list-cnt">
                            <p>地址： 陕西省西安市解放路21号</p>
                            <p>电话： 029-87420006</p>
                        </div>
                    </li>

                    <li class="item-list">
                        <div class="list-tit">
                            <a href="" target="_blank">
                                西安交通大学医学院第二附属医院
                            </a>
                            <a href="" target="_blank">
                                妇产科
                            </a>
                        </div>
                        <div class="list-cnt">
                            <p>地址： 陕西省西安市西五路157号</p>
                            <p>电话： 029-87679000</p>
                        </div>
                    </li>

                    <li class="item-list">
                        <div class="list-tit">
                            <a href="" target="_blank">
                                西安市中心医院
                            </a>
                            <a href="" target="_blank">
                                妇产科
                            </a>
                        </div>
                        <div class="list-cnt">
                            <p>地址： 西安市西五路161号</p>
                            <p>电话： 029-87218916</p>
                        </div>
                    </li>

                </ul>
                <div id="pager">
                    <a target="_blank" href="" class="item-btn-box">
                        <span>更多就医推荐 &gt; </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div align="center" id="bottomdiv" style="width: 100%;height: auto;background-color: #e6e6e6">
    <br><br><br>
    <a href="" style="font-size: 14px;color: #4E5465">版权声明</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">作者编委</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香医生</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香诊所</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">投稿邮箱 doctor@dxy.com</a>
    <br><br>
    <span style="font-size: 16px;color: #4E5465">Copyright  2000-2019DXY All Rights Reserved</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙B2-20070219-5</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙卫(03)网审[2015]&nbsp;&nbsp;048号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">医疗器械网络销售备案表编号：（浙杭）网械企备字[2018]第00246号</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">第二类医疗器械经营备案凭证编号：浙杭食药监械经营备20153170号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">网络文化经营许可证：浙网文[2018]11330-875号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">食品许可证编号：JY13301080010985</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">出版物经营许可证：新出发滨字第0064号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">人力资源许可证编号：330101000525</a>
    <br><br>
    <img src="imgs/img2.png">
    <a href="" style="font-size: 14px;color: #4E5465">浙公网安备 33010802004205号</a>
    <br><br>
    <img src="imgs/img1.jpg" style="height: 35px;width: 35px"/>
</div>
<script>
	layui.use(['jquery', 'layer'], function(){ 
		var $ = layui.$ ,//重点处		
		//后面就跟你平时使用jQuery一样
		$=layui.jquery;

		//订阅
        $("#dingyue").click(function(){
            var username=$("#uname").html();
            if(username==""){
                layer.open({
                    title: '提示',
                    content: '请登录',
                    time: 10000,
                    closeBtn: 1,
                    shade: [0.8, '#393D49'],
                    fixed: false,
                    maxHeight:260,
                    moveOut:true,
                    skin: 'layui-layer-molv'
                });
            }else {
                $.ajax({
                    async:true,
                    type:'post',
                    url:'dingyue',
                    data:{username:username},
                    success:function(msg){
                        layer.open({
                            title: '提示',
                            content: msg,
                            time: 10000,
                            closeBtn: 1,
                            shade: [0.8, '#393D49'],
                            fixed: false,
                            maxHeight:260,
                            moveOut:true,
                            skin: 'layui-layer-molv'
                        });
                        $("#dingyue").html("已订阅");
                    }
                })
            }
        });

		$(".divaa").click(function(){
			window.location.href="healthyXiangQing.html"
		});
		$("#div1").click(function(){
			 var idss=$(this).attr("id");
			 console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="推荐.html"
		});
		
		$("#div2").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="最新.html"	
			
		});
		$("#div3").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="一图读懂.html"	
			
		});
		$("#div4").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="真相.html"	
			
		});
		$("#div5").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="两性.html"	
			
		});
		$("#div6").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="肿瘤.html"	
			
		});
		$("#div7").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="慢病.html"
		});

        //搜索的点击事件
        $("#sousuo").click(function () {
            var keywords=$("[name='keywords']").val();
            //alert(keywords);
            window.location.href="serachArticle?keywords="+keywords;
        });

	});
    layui.use(['jquery', 'layer'], function(){
        var $ = layui.$ ,//重点处
            //后面就跟你平时使用jQuery一样
            $=layui.jquery;
        //通过判断session的值是否为空，改变五个标签的hidden属性
        function searchSession() {
            var username = document.getElementById("uname").innerHTML;
            //获取五个标签对应的对象
            var logina = document.getElementById("logina");
            var rega = document.getElementById("rega");
            var helloa = document.getElementById("helloa");
            var uname = document.getElementById("uname");
            var logouta = document.getElementById("logouta");
            if (username != ""){
                //如果不为空，说明已登录
                logina.setAttribute("hidden",true);
                rega.setAttribute("hidden",true);
                helloa.removeAttribute("hidden");
                uname.removeAttribute("hidden");
                logouta.removeAttribute("hidden");
                var username=$("#uname").html();
                $.ajax({
                    async:true,
                    type:'post',
                    url:'panduandingyue',
                    data:{username:username},
                    success:function(msg){
                        $("#dingyue").html(msg);
                    }
                });
            }else {
                //否则说明未登录或已退出
                logina.removeAttribute("hidden");
                rega.removeAttribute("hidden");
                helloa.setAttribute("hidden",true);
                logouta.setAttribute("hidden",true);
                uname.setAttribute("hidden",true);
            }
        }

        window.onload=function () {
            searchSession();//监听有没有登录
            setListener();//监听是不是医生
        }

        //判断登录的用户是不是医生，如果是医生，显示发起文章的按钮
        function setListener() {
            $(".startArticle").hide();
            var username = document.getElementById("uname").innerHTML;
            if(username!=""){
                var username=$("#uname").html();
                //alert(username);
                var  url="isfouDoctor";
                $.post(url,{username:username},function (json) {
                    if(json.msg=="医生"){
                        $(".startArticle").show();
                        $(".startArticle").attr("id",json.id);
                        $(".startArticle").click(function () {
                            var userid=$(this).attr("id");
                            window.location.href="startArticle?userid="+userid;
                        });
                    }
                });
            }
        }
    });



</script>
</body>
</html>