<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疾病百科列表管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<style>
    .by-way{
        width: 20%;
        height: 200px;
        margin-left: 35px;
        float: left;
    }
</style>
<body style="background-color: #e2e2e2">
<div style="width: 100%;height: auto">
    <!--<div id="tophead" style="width: 100%;height: 50px;background-color: skyblue">
        <br>
        <span style="font-size: 18px;margin-top: 40px;margin-left: 100px;color: #23262E">疾病百科列表</span>
    </div>-->
    <table id="showList" lay-filter="detail">

    </table>
</div>
</div>
<script src="layui/layui.js"></script>
<script src="layui/layui.all.js"></script>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;
        $.ajax({
            type: "get",
            url: "IllnessList",
            async: true,
            success: function(r) {
                var obj = JSON.parse(r);
                var data = obj.data;
                table.render({
                    elem: '#showList',
                    data: data,
                    toolbar: '#toolbarDemo',
                    height: 460,
                    cols : [ [ // 表头
                        {
                            type:'checkbox',
                            width : '4%'
                        },
                        {
                            field : 'illname',
                            title : '疾病名称',
                            sort : true,
                            align : 'left',
                            width : '6%',
                            event : 'seeDetail',
                            style: 'cursor: pointer;'
                        },{
                            field : 'illduc',
                            title : '疾病简介',
                            width : '15%',
                            align : "center",
                            event: 'setSignDuc',
                            sort : true
                        }, {
                            field : 'illinfo',
                            title : '症状描述',
                            width : '15%',
                            align : "center",
                            event: 'setSignInfo',
                            sort : true
                        }, {
                            field : 'illcause',
                            title : '病因描述',
                            width : '15%',
                            align : "center",
                            event: 'setSignCause',
                            sort : true
                        }, {
                            field : 'diagnosis',
                            title : '如何诊断',
                            width : '15%',
                            align : "center",
                            event: 'setSignDia',
                            sort : true
                        }, {
                            field : 'cure',
                            title : '如何治疗',
                            width : '15%',
                            align : "center",
                            event: 'setSignCure',
                            sort : true
                        },{
                            field : 'prevent',
                            title : '如何预防',
                            width : '15%',
                            align : "center",
                            event: 'setSignPrev',
                            sort : true
                        } ] ],
                    skin: 'line', //表格风格
                    size: 'sm',
                    even: true, //隔行背景
                    page: true, //是否显示分页
                    limits: [5, 10, 15], //显示
                    limit: 10 //每页默认显示的数量
                });
            }
        });

        // 监听单元格编辑事件
        table.on('tool(detail)', function(obj){
            console.log(obj);
            var data = obj.data;
            //疾病简介
            if(obj.event === 'setSignDuc'){
                layer.prompt({
                    formType: 2
                    ,title: '修改['+ data.illname +'] 的疾病简介'
                    ,value: data.illduc
                }, function(value, index){
                    layer.close(index);
                    //发送修改的Ajax请求
                    var illid=data.illid;
                    $.ajax({
                        url:"updateIllness",
                        type: "post",
                        data: {"illid":illid,"illduc":value},
                        success:function(result){
                            if("success"==result){
                                layer.alert("修改成功！");
                                //同步更新表格和缓存对应的值
                                obj.update({
                                    illduc: value
                                });
                            }else {
                                layer.alert("修改失败！");
                            }
                        }
                    });
                });
            }
            //症状描述
            if(obj.event === 'setSignInfo'){
                layer.prompt({
                    formType: 2
                    ,title: '修改['+ data.illname +'] 的症状描述'
                    ,value: data.illinfo
                }, function(value, index){
                    layer.close(index);
                    //发送修改的Ajax请求
                    var illid=data.illid;
                    $.ajax({
                        url:"updateIllness",
                        type: "post",
                        data: {"illid":illid,"illinfo":value},
                        success:function(result){
                            if("success"==result){
                                layer.alert("修改成功！");
                                //同步更新表格和缓存对应的值
                                obj.update({
                                    illinfo: value
                                });
                            }else {
                                layer.alert("修改失败！");
                            }
                        }
                    });
                });
            }
            //病因描述
            if(obj.event === 'setSignCause'){
                layer.prompt({
                    formType: 2
                    ,title: '修改['+ data.illname +'] 的病因描述'
                    ,value: data.illcause
                }, function(value, index){
                    layer.close(index);
                    //发送修改的Ajax请求
                    var illid=data.illid;
                     $.ajax({
                         url:"updateIllness",
                         type: "post",
                         data: {"illid":illid,"illcause":value},
                         success:function(result){
                             if("success"==result){
                                 layer.alert("修改成功！");
                                 //同步更新表格和缓存对应的值
                                 obj.update({
                                     illcause: value
                                 });
                             }else {
                                layer.alert("修改失败！");
                             }
                         }
                     });
                });
            }
            //如何诊断
            if(obj.event === 'setSignDia'){
                layer.prompt({
                    formType: 2
                    ,title: '修改['+ data.illname +'] 的如何诊断'
                    ,value: data.diagnosis
                }, function(value, index){
                    layer.close(index);
                    //发送修改的Ajax请求
                    var illid=data.illid;
                     $.ajax({
                         url:"updateIllness",
                         type: "post",
                         data: {"illid":illid,"diagnosis":value},
                         success:function(result){
                             if("success"==result){
                                layer.alert("修改成功！");
                                //同步更新表格和缓存对应的值
                                 obj.update({
                                     diagnosis: value
                                 });
                             }else {
                                layer.alert("修改失败！");
                             }
                         }
                     });
                });
            }
            //如何治疗
            if(obj.event === 'setSignCure'){
                layer.prompt({
                    formType: 2
                    ,title: '修改['+ data.illname +'] 的如何治疗单元'
                    ,value: data.cure
                }, function(value, index){
                    layer.close(index);
                    //发送修改的Ajax请求
                    var illid=data.illid;
                     $.ajax({
                         url:"updateIllness",
                         type: "post",
                         data: {"illid":illid,"cure":value},
                         success:function(result){
                            if("success"==result){
                             layer.alert("修改成功！");
                                 //同步更新表格和缓存对应的值
                                 obj.update({
                                     cure: value
                                 });
                             }else {
                                layer.alert("修改失败！");
                             }
                         }
                     });
                });
            }
            //如何预防
            if(obj.event === 'setSignPrev'){
                layer.prompt({
                    formType: 2
                    ,title: '修改['+ data.illname +'] 的如何预防'
                    ,value: data.prevent
                }, function(value, index){
                    layer.close(index);
                    //发送修改的Ajax请求
                    var illid=data.illid;
                     $.ajax({
                         url:"updateIllness",
                         type: "post",
                         data: {"illid":illid,"prevent":value},
                         success:function(result){
                            if("success"==result){
                             layer.alert("修改成功！");
                             //同步更新表格和缓存对应的值
                                obj.update({
                                    prevent: value
                                });
                             }else {
                                layer.alert("修改失败！");
                             }
                        }
                    });
                });
            }
        });
        //头工具栏事件
        table.on('toolbar(detail)', function(obj){
            if (obj.event == 'add'){
                window.location.href="showAddIllness"
            }
            var checkStatus = table.checkStatus(obj.config.id);
            if(obj.event == 'getCheckData'){
                var data = checkStatus.data;
                if (data.length == 0){
                    layer.alert("请至少选择一项！");
                }
                var idList=new Array();
                for (var i=0;i<data.length;i++){
                    idList.push(data[i].illid);
                }
                $.ajax({
                    url:"delIllness",
                    type:"post",
                    data:{"idList":idList.toString()},
                    success:function(result){
                        if (result == "success"){
                            layer.alert("删除成功！");
                        }else {
                            layer.alert("删除失败！");
                        }
                    }
                });
            };
        });

    });
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container" align="right">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加新的数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">删除选中数据</button>
    </div>
</script>
</body>
</html>