
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>推荐科普 - 丁香医生</title>
    <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="layui/css/layui.css"  media="all">
	<script src="layui/layui.js" charset="utf-8"></script>
	<script src="layui/lay/modules/jquery.js" charset="utf-8"></script>
	<style>
		#imgss{
			width:120px;
			height:60px;
		}
		.divdd{
			border:1px solid black;
			float:left;
			line-height: 40px;
			text-align: center;
		}
		#divgg{
			position:absolute;
			top:190px;
			left:230px;
			
		}
	    #tbalediv{
			position:absolute;
			top:250px;
			left:200px;
			
		}
		.divaa{
			width:300px;
			height:360px;
			border:1px solid black;
			margin-left:20px;
			margin-top:20px;
			background-color:#ffffff
		}
		body{
		 background-color:#f7f7f7
		}
		.imgxx{
			width:300px;
			height:200px;
		}
		.smalldiv{
			margin-top:20px;
			margin-left:12px;
		}
		#bottomdiv{
			position:absolute;
			top:1500px;
			left:0px;
		
		}
		#fenyediv{
			position:absolute;
			top:1400px;
		
		}
		#demo1{
			margin-left:500px;
			
		}
	</style>
</head>
<body>
<div class="layui-nav">
	<div class="ly-inner pg-inner">
		<ul class="topline-list fl clearfix">
            <li class="layui-nav-item"><a target="_blank" href="http://www.dxy.cn/">丁香园</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://bbs.dxy.cn">论坛</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://www.biomart.cn/">丁香通</a> </li>
            <li class="layui-nav-item"><a target="_blank" href="http://i.dxy.cn/">丁香客</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://www.jobmd.cn/">医药招聘</a></li>
            <li class="layui-nav-item"><a target="_blank" href="http://paper.pubmed.cn/">文献求助</a></li>
            <li class="layui-nav-item">
				<a href="javascript:;">更多</a>
				<dl class="layui-nav-child">
				  <dd><a href="">会议</a></dd>
				  <dd><a href="">用药助手</a></dd>
				  <dd><a href="">叮当铺</a></dd>
				</dl>
			  </li>
		</ul>
	</div>
</div>
	<div style="width:100%;height:60px" align="center">
		<a href="index.html"><img  id="imgss" src="logo/logo.jpg" /></a>
		<input style="width:450px;height:35px"/>
		<button type="button" style="width:100px;height:42px" class="layui-btn layui-btn-warm">搜索</button>
	</div>
	<ul class="layui-nav layui-bg-green" align="center">
		  <li class="layui-nav-item"><a href="">首页</a></li>
		  <li class="layui-nav-item layui-this"><a href="javascript:;">医学科普</a></li>
		  <li class="layui-nav-item"><a href="">名医问答</a></li>
		  <li class="layui-nav-item"><a href="">精选专题</a></li>
		  <li class="layui-nav-item"><a href="">来问医生</a></li>
		  <li class="layui-nav-item"><a href="">全国医院</a></li>
		  <li class="layui-nav-item"><a href="">用药查询</a></li>
		  <li class="layui-nav-item"><a href="">App下载</a></li>
	</ul>
	<div id="divgg" style="background-color:#FFFFFF" align="center">
		<div class="divdd" id="div1" style="width:130px;height:35px">推荐</div>
		<div class="divdd" id="div2" style="width:130px;height:35px">最新</div>
		<div class="divdd" id="div3" style="width:130px;height:35px">一图读懂</div>
		<div class="divdd" id="div4" style="width:130px;height:35px">真相</div>
		<div class="divdd" id="div5" style="width:130px;height:35px">两性</div>
		<div class="divdd" id="div6" style="width:130px;height:35px">肿瘤</div>
		<div class="divdd" id="div7" style="width:130px;height:35px">慢病</div>
	</div>
	<div id="tbalediv">
		<table>
			<tr>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image15.jpg"/>
					<div class="smalldiv">
						<a href="健康科普详情页面.html" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="健康科普详情页面.html" target="_blank">丁香医生</a><br/><br/>
						<a href="健康科普详情页面.html" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div> 
				</td>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image14.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div> 
				</td>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image13.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div> 
				</td>			
			</tr>
			<tr>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image12.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div> 
				</td>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image11.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div>
				</td>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image10.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div>		
				</td>			
			</tr>
			<tr>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image15.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div> 
				</td>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image14.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div> 
				</td>
				<td>
				<div class="divaa">
					<img class="imgxx" src="images/推荐/image13.jpg"/>
					<div class="smalldiv">
						<a href="/column/21995" target="_blank" title="多喝牛奶能长高？这么多年你可能都错了！​">多喝牛奶能长高？这么多年你可能都错了！​</a><br/><br/>
						<span>作者：</span>
						<a href="/column/author/dingxiangyisheng" target="_blank">丁香医生</a><br/><br/>
						<a href="/column/21995" target="_blank">我是周倩，中南大学湘雅二医院神经外科主治医生，神经外科学博士、康复与理疗学硕士。</a>
					</div>
				</div> 
				</td>			
			</tr>
			
		</table>
	</div>
	<div id="fenyediv">
		<fieldset class="layui-elem-field layui-field-title" style="width:1500px">
		</fieldset>
		<div id="demo1"></div>
	</div>
<div align="center" id="bottomdiv" style="width: 100%;height: auto;background-color: #e6e6e6">
    <br><br><br>
    <a href="" style="font-size: 14px;color: #4E5465">版权声明</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">作者编委</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香医生</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香诊所</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">投稿邮箱 doctor@dxy.com</a>
    <br><br>
    <span style="font-size: 16px;color: #4E5465">Copyright  2000-2019DXY All Rights Reserved</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙B2-20070219-5</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙卫(03)网审[2015]&nbsp;&nbsp;048号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">医疗器械网络销售备案表编号：（浙杭）网械企备字[2018]第00246号</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">第二类医疗器械经营备案凭证编号：浙杭食药监械经营备20153170号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">网络文化经营许可证：浙网文[2018]11330-875号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">食品许可证编号：JY13301080010985</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">出版物经营许可证：新出发滨字第0064号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">人力资源许可证编号：330101000525</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img2.gif">
    <a href="" style="font-size: 14px;color: #4E5465">浙公网安备 33010802004205号</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img1.png" style="height: 35px;width: 35px"/>
</div>
	
	
<script>
	layui.use(['jquery', 'layer'], function(){ 
		var $ = layui.$ ,//重点处		
		//后面就跟你平时使用jQuery一样
		$=layui.jquery;
		$(".divaa").click(function(){
			window.location.href="健康科普详情页面.html"			
		});
		window.onload=function(){		
			$("#div7").css("background-color","#FDA100");	
		}	
		$("#div1").click(function(){
			 var idss=$(this).attr("id");
			 console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="tuijian"
			
		});
		
		$("#div2").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="zuixin"
			
		});
		$("#div3").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="ytdudong"
			
		});
		$("#div4").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="zhenxiang"
			
		});
		$("#div5").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="liangxing"
			
		});
		$("#div6").click(function(){
			var idss=$(this).attr("id");
			console.log(idss+":ss");;	
			$("#"+idss).css("background-color","#FDA100");
			 window.location.href="zhongliu"
			
		});
	});
	 layui.use(['laypage', 'layer'], function(){
	  var laypage = layui.laypage
	  ,layer = layui.layer;
	  //总页数大于页码总数
	  laypage.render({
		elem: 'demo1'
		,count: 70 //数据总数
		,jump: function(obj){
		  console.log(obj)
		}
	  });
	  
	});   
</script>
</body>
</html>