<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <img src="imgs/onlinecourse.png" style="width: 770px;height: 440px"/>
    </div>
    <div>
        <span style="font-size: 22px;color: #5FB878">驱蚊液里有「农药」？如何正确选择驱蚊产品</span>
        <br>
        ￥&nbsp;&nbsp;&nbsp;<span style="font-size: 24px;color: #FD482C">18</span>
        <span style="font-size: 18px;color: #5FB878" > 1394</span ><span style="font-size: 18px;color: #5FB878">人参与</span>
    </div>
    <div>
        <span>主讲人：</span>&nbsp;&nbsp;<span>李志量</span>&nbsp;&nbsp;<span>主治医师</span>
        <br>
        <span>中国医学科学院皮肤病医院</span>&nbsp;&nbsp;<span>皮肤科</span>
        <br><br>
        <span>
            北京协和医学院皮肤病学博士。 中国医学科学院皮肤病医院·皮肤科·主治医师 擅长湿疹皮炎、荨麻疹、过敏、痤疮（痘痘）、银屑病牛皮癣、癣、灰趾甲、白斑、脱发。
        </span>
    </div>
    <div>
        <span>课程简介</span>
        <br><br>
        <span>【课程说明】</span>
        <br><br>

    </div>
</body>
</html>