<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
</head>
<style>
    .loginandreg{
        position: relative;
        top: -40px;
        left: 1080px;
    }
    .ul1{
        position: relative;
        left: 152px;
    }
    #recommenddoctor{
        position: absolute;
        left: 152px;
    }
    #department{
        position: relative;
        top: 650px;
        left: 152px;
    }
    #bottomdiv1{
        position: absolute;
        top: 1430px;
    }

</style>
<script>
    //通过判断session的值是否为空，改变五个标签的hidden属性
    function searchSession() {
        var username = document.getElementById("uname").innerHTML;
        //获取五个标签对应的对象
        var logina = document.getElementById("logina");
        var rega = document.getElementById("rega");
        var helloa = document.getElementById("helloa");
        var uname = document.getElementById("uname");
        var logouta = document.getElementById("logouta");

        if (username != ""){
            //如果不为空，说明已登录
            logina.setAttribute("hidden",true);
            rega.setAttribute("hidden",true);
            helloa.removeAttribute("hidden");
            uname.removeAttribute("hidden");
            logouta.removeAttribute("hidden");
        }else {
            //否则说明未登录或已退出
            logina.removeAttribute("hidden");
            rega.removeAttribute("hidden");
            helloa.setAttribute("hidden",true);
            logouta.setAttribute("hidden",true);
            uname.setAttribute("hidden",true);

        }
    }
    window.onload=function () {
        searchSession();
    }
</script>
<body>
    <div class="layui-nav layui-bg-green" style="width: 100%;height: 50px;">
        <div class="ly-inner pg-inner">
            <ul class="topline-list fl clearfix">
                <li class="layui-nav-item"><a target="_blank" href=" ">丁香园</a></li>
                <li class="layui-nav-item"><a target="_blank" href="http://bbs.dxy.cn">论坛</a></li>
                <li class="layui-nav-item"><a target="_blank" href="http://www.biomart.cn/">丁香通</a> </li>
                <li class="layui-nav-item"><a target="_blank" href="http://i.dxy.cn/">丁香客</a></li>
                <li class="layui-nav-item"><a target="_blank" href="http://www.jobmd.cn/">医药招聘</a></li>
                <li class="layui-nav-item"><a target="_blank" href="http://paper.pubmed.cn/">文献求助</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">更多</a>
                    <dl class="layui-nav-child">
                        <dd>< a href="">会议</a></dd>
                        <dd>< a href="">用药助手</a></dd>
                        <dd>< a href="">叮当铺</a></dd>
                    </dl>
                </li>
            </ul>
            <div>
                <a class="loginandreg" id="logina" href="login" style="background-color: transparent;">登录</a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <a class="loginandreg" id="rega" href="reg" style="background-color: transparent;">注册</a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span class="loginandreg" id="helloa" style="background-color: transparent;">你好：</span>
                <span class="loginandreg" id="uname" style="background-color: transparent;" th:text="${session.username}" ></span>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <a class="loginandreg" id="logouta" href="logout" style="background-color: transparent;">退出</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div style="width: 100%;height: 60px" align="center">
        <a href="index"><img  style="width: 120px;height: 60px" src="logo/logo.jpg" /></a>
        <input style="height: 38px;width: 450px" type="text"placeholder="请输入您想咨询的医生"/>
        <button type="button" style="width: 100px;height: 40px" class="layui-btn">搜索</button>
    </div>
    <div class="ul1" align="center" style="width: 1192px" >
        <ul class="layui-nav">
            <li class="layui-nav-item"><a href="index">首页</a></li>
            <li class="layui-nav-item"><a href="onlinedoctory">在线问诊</a></li>
            <li class="layui-nav-item"><a href="questionandanswer">名医问答</a></li>
            <li class="layui-nav-item"><a href="diseaseencyclopedia">疾病百科</a></li>
            <li class="layui-nav-item"><a href="healthscience">健康科普</a></li>
            <li class="layui-nav-item"><a href="featuredtopics">精选专题</a></li>
            <li class="layui-nav-item"><a href="allhospital">全国医院</a></li>
            <li class="layui-nav-item"><a href="familymedication">家庭用药</a></li>
        </ul>
    </div>
    <br><br>
    <div class="layui-tab layui-tab-card" id="recommenddoctor" style="width: 1190px;height: 600px" >
        <br>
        <span align="left" style="font-size: 18px;color: #666666">&nbsp;&nbsp;&nbsp;&nbsp;推荐医生</span>
        <br><br><br>
        <ul class="layui-tab-title">
            <li class="layui-this">外科</li>
            <li>骨科</li>
            <li>儿科</li>
            <li>皮肤科</li>
            <li>中医科</li>
        </ul>
        <div class="layui-tab-content" style="height: 380px;">

            <div class="layui-tab-item layui-show">
                <div th:each="doctorWai:${doctorsWai}" th:id="${doctorWai.doctorid}"
                     style="margin-left: 25px;float: left;margin-top: 30px ; border:1px solid #e8e9eb;height: 430px;width: 260px" align="center" >
                    <br>
                    <img th:src="@{'/doctorimg/'+${doctorWai.avatar}}" style="width: 90px;height: 90px"/><br><br>
                        <div style="width: 230px">
                            <span th:text="${doctorWai.relname}"></span> &nbsp;&nbsp;&nbsp;
                            <span th:text="${doctorWai.jobtitle}">主治医师</span><br><br>
                            <span th:text="${doctorWai.hpName}"> 西京医院</span><br><br>
                            <a><span th:text="${doctorWai.answercount}">86</span>个回答</a><br><br>
                            <div align="left" style="height: auto">
                                <span th:text="${doctorWai.doctorinfo}">擅长各类胃肠功能紊乱，腹痛, 乙肝，肝硬化，急慢性胰腺炎，消化性溃疡及胆道疾病诊断与治疗</span>
                            </div>
                        </div>
                </div>
            </div>

            <div class="layui-tab-item" >
                <div th:each="doctorGu:${doctorsGu}" th:id="${doctorGu.doctorid}"
                     style="margin-left: 25px;float: left;margin-top: 30px ; border:1px solid #e8e9eb;height: 430px;width: 260px" align="center" >
                    <br>
                    <img th:src="@{'/doctorimg/'+${doctorGu.avatar}}" style="width: 90px;height: 90px"/><br><br>
                    <div style="width: 230px">
                        <span th:text="${doctorGu.relname}"></span> &nbsp;&nbsp;&nbsp;
                        <span th:text="${doctorGu.jobtitle}">主治医师</span><br><br>
                        <span th:text="${doctorGu.hpName}"> 西京医院</span><br><br>
                        <a><span th:text="${doctorGu.answercount}">86</span>个回答</a><br><br>
                        <div align="left" style="height: auto">
                            <span th:text="${doctorGu.doctorinfo}">擅长各类胃肠功能紊乱，腹痛, 乙肝，肝硬化，急慢性胰腺炎，消化性溃疡及胆道疾病诊断与治疗</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-tab-item" >
                <div th:each="doctorEr:${doctorsEr}" th:id="${doctorEr.doctorid}"
                     style="margin-left: 25px;float: left;margin-top: 30px ; border:1px solid #e8e9eb;height: 430px;width: 260px" align="center" >
                    <br>
                    <img th:src="@{'/doctorimg/'+${doctorEr.avatar}}" style="width: 90px;height: 90px"/><br><br>
                    <div style="width: 230px">
                        <span th:text="${doctorEr.relname}"></span> &nbsp;&nbsp;&nbsp;
                        <span th:text="${doctorEr.jobtitle}">主治医师</span><br><br>
                        <span th:text="${doctorEr.hpName}"> 西京医院</span><br><br>
                        <a><span th:text="${doctorEr.answercount}">86</span>个回答</a><br><br>
                        <div align="left" style="height: auto">
                            <span th:text="${doctorEr.doctorinfo}">擅长各类胃肠功能紊乱，腹痛, 乙肝，肝硬化，急慢性胰腺炎，消化性溃疡及胆道疾病诊断与治疗</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-tab-item">
                <div th:each="doctorPiFu:${doctorsPiFu}" th:id="${doctorPiFu.doctorid}"
                     style="margin-left: 25px;float: left;margin-top: 30px ; border:1px solid #e8e9eb;height: 430px;width: 260px" align="center" >
                    <br>
                    <img th:src="@{'/doctorimg/'+${doctorPiFu.avatar}}" style="width: 90px;height: 90px"/><br><br>
                    <div style="width: 230px">
                        <span th:text="${doctorPiFu.relname}"></span> &nbsp;&nbsp;&nbsp;
                        <span th:text="${doctorPiFu.jobtitle}">主治医师</span><br><br>
                        <span th:text="${doctorPiFu.hpName}"> 西京医院</span><br><br>
                        <a><span th:text="${doctorPiFu.answercount}">86</span>个回答</a><br><br>
                        <div align="left" style="height: auto">
                            <span th:text="${doctorPiFu.doctorinfo}">擅长各类胃肠功能紊乱，腹痛, 乙肝，肝硬化，急慢性胰腺炎，消化性溃疡及胆道疾病诊断与治疗</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-tab-item">
                <div th:each="doctorZhongYi:${doctorsZhongYi}" th:id="${doctorZhongYi.doctorid}"
                     style="margin-left: 25px;float: left;margin-top: 30px ; border:1px solid #e8e9eb;height: 430px;width: 260px" align="center" >
                    <br>
                    <img th:src="@{'/doctorimg/'+${doctorZhongYi.avatar}}" style="width: 90px;height: 90px"/><br><br>
                    <div style="width: 230px">
                        <span th:text="${doctorZhongYi.relname}"></span> &nbsp;&nbsp;&nbsp;
                        <span th:text="${doctorZhongYi.jobtitle}">主治医师</span><br><br>
                        <span th:text="${doctorZhongYi.hpName}"> 西京医院</span><br><br>
                        <a><span th:text="${doctorZhongYi.answercount}">86</span>个回答</a><br><br>
                        <div align="left" style="height: auto">
                            <span th:text="${doctorZhongYi.doctorinfo}">擅长各类胃肠功能紊乱，腹痛, 乙肝，肝硬化，急慢性胰腺炎，消化性溃疡及胆道疾病诊断与治疗</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="width: 80%"  id="department">
        <br>
        <span align="left" style="font-size: 18px;color: #666666">&nbsp;&nbsp;&nbsp;&nbsp;科室分类</span>
        <br><br>
        <div align="center">
            <div th:each="tDepartment:${depts}" th:id="${tDepartment.depid}" style="float: left;width: 145px;height: 145px;margin-left: 6px" align="center ">
                <img  th:src="@{'/deptimg/'+${tDepartment.deptimg}}" class="deptimg" alt="" th:id="${tDepartment.depid}" th:name="${tDepartment.depname}" style="width: 143px;height: 143px; cursor: pointer"/>
            </div>

            <!--<div  align="center">
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept1.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">外科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept2.jpg" style="width: 140px;height: 140px;">
                   &lt;!&ndash; <br>
                    <span style="font-size: 18px;color: #2D93CA">妇产科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept3.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">骨科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept4.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">呼吸科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept5.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">肠胃科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept6.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">生殖泌尿科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept7.jpg" style="width: 140px;height: 140px;">
                   &lt;!&ndash; <br>
                    <span style="font-size: 18px;color: #2D93CA">儿科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept8.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">神经科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept9.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">皮肤科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept10.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">内科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept11.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">血液科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept12.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">五官科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept13.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">放射科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept14.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">中医科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 140px;height: 140px;margin-left: 6px">
                    <img src="deptimg/dept15.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">肿瘤科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept16.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">传染科</span>&ndash;&gt;
                </div>
                <div style="float: left;width: 145px;height: 145px;margin-left: 6px">
                    <img src="deptimg/dept17.jpg" style="width: 140px;height: 140px;">
                    &lt;!&ndash;<br>
                    <span style="font-size: 18px;color: #2D93CA">其他</span>&ndash;&gt;
                </div>
            </div>-->
        </div>
    </div>


    <div align="center" id="bottomdiv1" style="width: 100%;height: auto;background-color: #e6e6e6">
        <br><br>
        <a href="" style="font-size: 14px;color: #4E5465">版权声明</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">作者编委</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">丁香医生</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">丁香诊所</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">投稿邮箱 doctor@dxy.com</a>
        <br><br>
        <span style="font-size: 16px;color: #4E5465">Copyright © 2000-2019DXY All Rights Reserved</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">浙B2-20070219-5</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">浙卫(03)网审[2015]&nbsp;&nbsp;048号</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">医疗器械网络销售备案表编号：（浙杭）网械企备字[2018]第00246号</a>
        <br><br>
        <a href="" style="font-size: 14px;color: #4E5465">第二类医疗器械经营备案凭证编号：浙杭食药监械经营备20153170号</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">网络文化经营许可证：浙网文[2018]11330-875号</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">食品许可证编号：JY13301080010985</a>
        <br><br>
        <a href="" style="font-size: 14px;color: #4E5465">出版物经营许可证：新出发滨字第0064号</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" style="font-size: 14px;color: #4E5465">人力资源许可证编号：330101000525</a>
        <br><br>
        <img src="imgs/img2.png">
        <a href="" style="font-size: 14px;color: #4E5465">浙公网安备 33010802004205号</a>
        <br><br>
        <img src="imgs/img1.jpg" style="height: 35px;width: 35px"/>
        <br>
        <br >
    </div>
</body>

<script>
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });

    //点击科室查询科室医生
    $(document).ready(function(){
        //jQuery 事件 - bind() 方法
        $(".deptimg").bind("click",function(){
            var deptname = $(this).attr("name");
            window.location.href = "getDoctorByDeptName?deptname="+deptname;
        });
    });

</script>
</html>