<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>名医问答</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="layui/css/modules/layer/default/layer.css"/>
    <style>
        .bq:hover{
            background-color: #5FB878;
        }
    </style>
</head>
<body style="min-width: 1200px;overflow-x: hidden;overflow-y: auto">
    <div>
        <div class="layui-head">
            <ul class="layui-nav">
                <li class="layui-nav-item"><a href="">丁香园</a></li>
                <li class="layui-nav-item"><a href="">论坛</a></li>
                <li class="layui-nav-item"><a href="">丁香通</a></li>
                <li class="layui-nav-item"><a href="">丁香客</a></li>
                <li class="layui-nav-item"><a href="">医药招聘</a></li>
                <li class="layui-nav-item"><a href="">文献求助</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">更多</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">会议</a></dd>
                        <dd><a href="">用药助手</a></dd>
                        <dd><a href="">丁当铺</a></dd>
                        <dd><a href="">定香搜索</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div style="position:absolute;top: 100px; width: 100%;height: 60px" align="center" >
            <a href="questionandanswer.html"><img src="imgs/jxys.jpg" style="width: 120px;height: 60px"></a>
            <input style="height: 38px;width: 450px" type="text" placeholder="请输入疾病名/药品名"/>
            <button type="button" style="width: 100px;height: 40px" class="layui-btn">搜索</button>
        </div>
        <div style="position: absolute;top: 185px;left: 400px; font-size: 17px">
            <a href="detailedquestions">在线问诊</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="questionandanswer">名医问答</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="diseaseencyclopedia">疾病百科</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="healthscience">健康科普</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="featuredtopics">精选专题</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="allhospital">全国医院</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="familymedication">家庭用药</a>
        </div>
        <div style="position: absolute;top: 230px;width: 100%;height: 3000%; background-color: #F5F5F5">
            <div style="position: relative;left: 200px;top: 20px">
                <a href="index">首页</a>
                &nbsp;&nbsp;
                <a href="#">类别</a>
                &nbsp;&nbsp;
                <a href="#">科室</a>
            </div>
            <div style="position: absolute;top: 50px;width: 900px;height: 251px;left: 200px;background-color: #FFFFFF">
                <h3 style="position: relative;top: 20px;left: 30px">科室</h3>
                <div style="position: relative;top: 40px;left: 30px">
                    <ul style="padding: 0px;margin: 0px;line-height: 50px">
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="#">不限</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">皮肤性病科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">消化内科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">耳鼻咽喉科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">呼吸内科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">儿科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">风湿免疫科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">普通内科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">心血管内科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">骨科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">眼科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">普外科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">感染科 传染科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">内分泌科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">妇产科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">口腔科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">神经内科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">心胸外科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">肿瘤科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">肝胆胰腺外科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">血液科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">甲状腺乳腺外科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">泌尿外科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">神经外科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">精神心理科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">肾脏内科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">美容整形科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">疼痛科 麻醉科</a></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="bq"style="list-style:none;display: inline-block;"><a href="">其他</a>
                    </ul>
                </div>
            </div>
            <div style="position: absolute;top: 325px;width: 900px;height:100%;left: 200px;background-color: #FFFFFF">
                <div style="position: absolute;top: 35px;left:30px;font-size: 20px">相关回答</div>
                <a href="Reply">
                    <div style="position: absolute;top: 100px;left: 30px;box-shadow:darkgrey 0px 0px 30px ;width: 840px;height: 300px"></div>
                    <div style="position: absolute;top: 150px;left: 30px;box-shadow:darkgrey 0px 0px 30px ;width: 840px;height: 300px">
                        <div style="position: absolute;top: 20px;left: 10px">
                            <img style="width: 50px;height: 50px" src="imgs/wenti.png"/>
                            <ul style="padding: 0px;margin: 0px;line-height: 50px">
                                <li>
                                    提问的问题
                                </li>
                            </ul>
                        </div>
                        <div style="position: absolute;top: 150px;left: 10px">
                            <img style="width: 50px;height: 50px" src="imgs/yisheng.jpg">
                            <ul th:each="doctors:${session.doctor}">
                                <li th:text="${doctors.getQuestionResponse()}">
                                    医生的答复
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div style="position: absolute;top: 500px;left: 30px;box-shadow:darkgrey 0px 0px 30px ;width: 840px;height: 300px"></div>
                    <div style="position: absolute;top: 550px;left: 30px;box-shadow:darkgrey 0px 0px 30px ;width: 840px;height: 300px">

                    </div>
                </a>
                <a href="">
                    <div style="position: absolute;top: 900px;left: 30px;box-shadow:darkgrey 0px 0px 30px ;width: 840px;height: 300px"></div>
                    <div style="position: absolute;top: 950px;left: 30px;box-shadow:darkgrey 0px 0px 30px ;width: 840px;height: 300px">

                    </div>
                </a>
            </div>
            <div style="position: absolute;top:50px;left: 1130px;background-color: #ffffff;width: 220px;height: 850px  ">
                
            </div>
        </div>
    </div>
    <script src="layui/layui.js"></script>
    <script src="layer/layer.js"></script>
    <script src="layui/lay/modules/jquery.js"></script>
    <script>
        layui.use('element', function(){
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function(elem){
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
    </script>
    <script>
        layui.use('flow', function(){
            var flow = layui.flow;

            flow.load({
                elem: '#LAY_demo1' //流加载容器
                ,scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
                ,done: function(page, next){ //执行下一页的回调

                    //模拟数据插入
                    setTimeout(function(){
                        var lis = [];
                        for(var i = 0; i < 8; i++){
                            lis.push('<li>'+ ( (page-1)*8 + i + 1 ) +'</li>')
                        }

                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < 10); //假设总页数为 10
                    }, 500);
                }
            });
        });
    </script>
</body>
</html>