<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all"/>
    <link href="taozi/css/common.css" type="text/css" rel="stylesheet">
    <link href="taozi/css/index.css" type="text/css" rel="stylesheet">
    <style>

    </style>
</head>
<body style="background-color: #F5F5F5">
    <div style="margin-left: 400px;background-color: white;height: 120px;width: 800px;border: 1px solid #D3D3D3;border-top-left-radius: 8px;border-top-right-radius: 8px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;">
        <ul th:each="wenti:${session.questions}">
            <img style="margin-top: 25px;margin-left: 35px;width: 60px;height: 60px" th:src="${wenti.getDoctorsPicture()}" src="imgtaozi/doctor2cc.png">
            <li style="position:absolute;left: 510px;top: 20px;font-size: 18px" th:text="${wenti.getDoctorName()}">马冬梅</li>
            <li style="position:absolute;left: 510px;top: 45px;color: #808080;font-size: 14px">副主任医师</li>
            <li style="position:absolute;top: 65px;left: 508px;color: #808080;font-size: 14px" th:text="${wenti.getDepartments()}">科室</li>
            <li style="margin-left: 185px;margin-top: -21px;color: #808080;font-size: 14px" th:text="${wenti.getHospital()}">医院名称</li>
            <li th:text="'向'+' '+${wenti.getDoctorName()}+' '+'医生提问(症状、部位、持续时间等)'" style="position:absolute;left: 470px;top: 140px;color: #808080">向马学梅医生提问（症状、部位、持续时间等）</li>
        </ul>
    </div>
    <div style="margin-top:65px;margin-left: 400px;width: 800px; height: 550px;background-color: white;border: 1px solid #D3D3D3;border-top-left-radius: 8px;border-top-right-radius: 8px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;">
        <form class="shangchuan">
            <textarea style="height: 271px;width: 800px;font-size: 17px" placeholder="请描述你的年龄,性别,症状及旧证经历,便于医生进行准确的分析,我们会确保你的隐私安全"></textarea>
            <div style="width: 800px">
                <div class="img-box full">
                    <section class=" img-section">
                        <p class="up-p">上传图片：<span class="up-span">最多可以上传4张图片</span></p>
                        <div class="z_photo upimg-div clear" >
                            <section class="z_file fl">
                                <img src="taozi/img/a11.png" class="add-img">
                                <input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </form>
    </div>
    <div class="tiJ" style="margin-top: 10px;margin-left: 400px;width: 800px; height: 100px;background-color: white;border: 1px solid #D3D3D3;border-top-left-radius: 8px;border-top-right-radius: 8px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;">
        <div style="margin-top: 10px;margin-left: 50px;color: #888888">医生将在 24 小时内回复你，若超时未回复，系统将关闭问题，你所支付的费用将会全额退回</div>
        <div style="margin-left: 50px; margin-top: 8px;background-color: #5FB878;height: 45px;width: 700px;color:white;font-size: 18px" align="center">支 付  ¥  199  提问</div>
    </div>
    <div style="margin-top: 30px;height: 100px;margin-left: 415px;color: #888888" >
      <img style="width: 17px;height: 17px" src="imgtaozi/gantan.png">  注：医生的回答只作为健康咨询类建议，不作为诊断和治疗依据，咨询建议不能代替医生面诊。如不适感严重，请立即就医。
    </div>

    <div class="zYs" style="position: fixed;bottom: 0px;margin-left: 400px;width: 400px;height: 60px;background-color: white;border: 1px solid #D3D3D3;border-bottom-left-radius:15px;border-top-left-radius:15px">
        <img style="margin-left: 160px;margin-top: 25px;width: 75px;height: 20px" src="imgtaozi/zhaoYiSheng.png">
    </div>
    <div class="woDe" style="position: fixed;bottom: 0px;margin-left: 800px;width: 400px;height: 60px;background-color: white;border: 1px solid #D3D3D3;border-top-right-radius:15px;border-bottom-right-radius:15px">
        <img style="margin-top: 25px;margin-left: 160px;width: 75px;height: 20px" src="imgtaozi/woDe.png">
    </div>

<script src="layui/layui.js"></script>
<script src="layer/layer.js"></script>
<script src="layui/lay/modules/jquery.js"></script>
<script src="taozi/js/jquery-1.8.3.min.js"></script>
<script src="taozi/js/imgUp.js"></script>
    <script>
        layui.use(['jquery','layer'],function () {
           var $=layui.$,
               $=layui.jquery;
           $(".zYs").click(function(){
               window.location.href="seekADoctor"
           })
           $(".woDe").click(function(){
             window.location.href="personalCenter"
           })
//           $(".tiJ").click(function () {
//               var wenti=document.getElementsByClassName("tiwen")
//               alert(wenti)
//               alert("提交提问")
//           })
           $(".input").change(function () {
               $(".img").attr("src",URL.createObjectURL($(this)[0].files[0]));
            });
        });
    </script>
</body>
</html>