
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="http://assets.dxycdn.com/app/drugs/css/ui/jquery.ui.all.css?t=1563496058702">
	<link href="http://assets.dxycdn.com/app/drugs/css/webapp.css?t=1563496058702" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="https://auth.dxy.cn/account/userlogin.do?callback=_da_oun" async=""></script>
	<script type="text/javascript" async="" src="https://d31qbv1cthcecs.cloudfront.net/atrk.js"></script>
	<script type="text/javascript" async="" src="http://da.dxy.cn/da.js"></script>
	<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/core/jquery/1.7.2-min.js?t=1563496058702"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/app/drugs/js/jquery-ui-1.8.13.custom.min.js?t=1563496058702"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/core/widgets/star-rating/jquery.rating.js?t=1563496058702"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/app/drugs/js/common.js?t=1563496058702"></script>
	<script type="text/javascript" src="//drugs.dxy.cn/dwr/engine.js"></script>
	<script type="text/javascript" src="//drugs.dxy.cn/dwr/util.js"></script>
</head>
<body>
<div id="sitenav" class="clearfix">
	<ul class="fl">
        <li class="ico mobile"><a target="_blank" href="">手机应用</a></li>
        <li class="ico family"><a target="_blank" href="">丁香医生</a></li>
        <li class="ico sina"><a target="_blank" href="">新浪微博</a></li>
        <li class="ico yao"><a target="_blank" href="">药品汇</a></li>
	</ul>
    <div class="fr">
    	        <span class="fr" id="nav">
           		<a href="">登录</a>
    			<a href="">注册</a>
		        </span>
    </div>
</div>
<div id="page">
	<div id="header">
		<div class="logo">
		<a href="//drugs.dxy.cn/index.htm">丁香园</a>
		</div>
	<div class="search_wrap">
		<div class="search_tab" id="J_SearchTab">
			<a id="searcher_1" class="cur" placeholder="如：阿司匹林或ASPL" action="" href="#">药品名称</a>
			<a id="searcher_2" placeholder="请输入疾病名称，如：高血压" action="" href="#">适应症</a>
			<a id="searcher_3" placeholder="请输入疾病名称，如：高血压" action="" href="#">用药禁忌</a>
		</div>
		<div class="search_bd clearfix">
			<form action="" method="get" id="topSearchForm">
				<input type="text" value="" id="keyword" name="keyword" autocomplete="off" class="kewword fl ui-autocomplete-input" placeholder="如：阿司匹林或ASPL" role="textbox" aria-autocomplete="list" aria-haspopup="true">
				<input type="submit" value="搜&nbsp;索" class="search_btn fl">
			</form>
		</div>
	</div>
</div>
<div id="container">
	<div class="common_hd clearfix">
		<div class="fl">药理分类</div>
		</div>
			<div class="common_bd clearfix">
				<div class="common_mainwrap fr">
					<div class="common_main ml279">
						   <div id="cate_1000" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
									<li>
										<h3><a href="用药助手-详情页面.html">口腔科用药</a></h3>
										   <p>
												<span>美克威</span>&nbsp;
												<a href="//drugs.dxy.cn/drug/133657.htm">普鲁卡因肾上腺素注射液</a>&nbsp;
											</p>
									</li>
									<li>
										 <h3><a href="//drugs.dxy.cn/category/1007.htm">抗酸药及治疗消化性溃疡和胃肠胀气用药</a></h3>
										  <p>
											<a href="//drugs.dxy.cn/drug/54850.htm">丽奥佳</a>&nbsp;
										  </p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1027.htm">胃肠解痉药，抗胆碱药和胃动力药</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/82866.htm">斯莫纳</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/56079.htm">胃复安针</a>&nbsp;
										</p>															        								</p>
									 </li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1050.htm">止吐药和止恶心药</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/92327.htm">欧贝</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/56058.htm">凯特瑞</a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1054.htm">胆、肝疾病治疗药</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/88359.htm">优思弗</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/89307.htm">易善复</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/91178.htm">思美泰</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/55087.htm">雅博司</a>&nbsp;
										</p>
									 </li>
									 <li>
										 <h3><a href="//drugs.dxy.cn/category/1062.htm">泻药</a></h3>
										  <p>
											<a href="//drugs.dxy.cn/drug/91186.htm">息洛安</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/54998.htm">丽珠肠乐</a>&nbsp;

										  </p>
									 </li>
									 <li>
										  <h3><a href="//drugs.dxy.cn/category/1070.htm">止泻药，肠道抗炎/抗感染药</a></h3>
										   <p>
												<a href="//drugs.dxy.cn/drug/52804.htm">万联福宁</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/58616.htm">易蒙停</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/50106.htm">稳可信</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/78668.htm">希捷</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/122748.htm">复方地芬诺酯片</a>&nbsp;
											</p>
									</li>
									<li>
											<h3><a href="//drugs.dxy.cn/category/1092.htm">抗肥胖病药，不包括饮食制品</a></h3>
												<p>
													<a href=""></a>&nbsp;
												</p>
									</li>
									<li>
										  <h3><a href="//drugs.dxy.cn/category/1095.htm">消化药，包括酶制剂</a></h3>
												<p>
													<a href=""></a>&nbsp;
												</p>
									</li>
									<li>
										  <h3><a href="//drugs.dxy.cn/category/1100.htm">糖尿病用药</a></h3>
												<p>
													<a href="//drugs.dxy.cn/drug/55578.htm">诺和锐30笔芯</a>&nbsp;
													<a href="//drugs.dxy.cn/drug/88333.htm">格华止</a>&nbsp;
													<a href="//drugs.dxy.cn/drug/52159.htm">诺和灵30R笔芯</a>&nbsp;																							        								</p>
									 </li>
									  <li>
										   <h3><a href="//drugs.dxy.cn/category/1116.htm">维生素类</a></h3>
												<p>
													<a href=""></a>&nbsp;
												</p>
									  </li>
									  <li>
											<h3><a href="//drugs.dxy.cn/category/1144.htm">矿物质补充剂</a></h3>
												<p>
												</p>
									  </li>
									  <li>
											<h3><a href="//drugs.dxy.cn/category/1157.htm">滋补药</a></h3>
												<p>
													<a href=""></a>&nbsp;
												</p>

									   </li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1159.htm">全身用蛋白同化药物</a></h3>
											   <p>
													<a href=""></a>&nbsp;
												</p>
										</li>
										<li>
												<h3><a href="//drugs.dxy.cn/category/1164.htm">刺激食欲药</a></h3>
												<p>
												 <a href=""></a>&nbsp;
											  </p>
										 </li>
										<li>
												<h3><a href="//drugs.dxy.cn/category/1165.htm">其它消化道和代谢用药</a></h3>
												<p>
													<a href="//drugs.dxy.cn/drug/57255.htm">玻特利</a>&nbsp;
													<a href="//drugs.dxy.cn/drug/54158.htm">太宁</a>&nbsp;
												</p>
										</li>
								</ul>
							</div>
							<div id="cate_1226" name="cate_div" class="index">
								<ul class="ullist clearfix">
										<li>
											<h3><a href="//drugs.dxy.cn/category/1227.htm">心脏病治疗用药</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/89730.htm">盐酸多巴胺注射液</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/54565.htm">万爽力</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/90212.htm">地高辛片</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/89751.htm">盐酸胺碘酮片</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/88407.htm">凯时</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1251.htm">抗高血压药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
									  <li>
											<h3><a href="//drugs.dxy.cn/category/1286.htm">利尿剂</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/54657.htm">螺内酯片</a>&nbsp;
											</p>
										</li>
										 <li>
											<h3><a href="//drugs.dxy.cn/category/1311.htm">周围血管扩张药</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/90340.htm">必存</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1320.htm">血管保护剂</a></h3>
											<p>
											<a href="//drugs.dxy.cn/drug/133657.htm">普鲁卡因肾上腺素注射液</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1333.htm">β-阻滞剂</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/88381.htm">倍他乐克</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1355.htm">钙通道阻滞剂</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/93699.htm">兰迪</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1367.htm">作用于肾素-血管紧张素系统的药物</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/52081.htm">代文</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/92151.htm">雅施达</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/52088.htm">科素亚</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/91675.htm">蒙诺</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1379.htm">降血脂药</a></h3>
											<p>
											<a href="//drugs.dxy.cn/drug/90707.htm">舒降之</a>&nbsp;
											</p>
										</li>

									</ul>
							</div>
							<div id="cate_1386" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
										<li>
											<h3><a href="//drugs.dxy.cn/category/1387.htm">皮肤病用抗真菌药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1394.htm">润肤剂和保护剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										 <li>
											<h3><a href="//drugs.dxy.cn/category/1405.htm">创伤和溃疡治疗药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1411.htm">止痒药，包括抗组织胺药、麻醉药等</a></h3>
											<p>
													<a href="//drugs.dxy.cn/drug/58525.htm">非那根</a>&nbsp;
											</p>
										</li>
											<li>
											<h3><a href="//drugs.dxy.cn/category/1416.htm">治疗牛皮癣药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1425.htm">皮肤病用抗生素和化学治疗药物</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/52804.htm">万联福宁</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/78668.htm">希捷</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1434.htm">皮肤病用皮质激素制剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1455.htm">抗菌剂和消毒剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										 <li>
											<h3><a href="//drugs.dxy.cn/category/1469.htm">含药敷料</a></h3>
											<p>
												<a href=""></a>&nbsp;
												</p>
										</li>
										 <li>
											<h3><a href="//drugs.dxy.cn/category/1474.htm">抗痤疮制剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										 <li>
											<h3><a href="//drugs.dxy.cn/category/1485.htm">其他皮肤病用制剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
								</ul>
							</div>
							<div id="cate_1607" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
									<li>
										<h3><a href="//drugs.dxy.cn/category/1608.htm">全身用抗细菌药</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/116384.htm">硫酸核糖霉素注射液</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/118434.htm">罗红霉素干混悬剂</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/90082.htm">罗邦</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/87778.htm">甲砜霉素肠溶片</a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1646.htm">全身用抗真菌药</a></h3>
										<p>
											<a href=""></a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1652.htm">抗分枝杆菌药</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/85218.htm">胜君</a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1662.htm">全身用抗病毒药</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/79596.htm">恩尔欣</a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1670.htm">免疫血清和免疫球蛋白</a></h3>
										<p>
											<a href=""></a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1677.htm">疫苗</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/138342.htm">注射用胸腺五肽</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/55998.htm">罗荛愫</a>&nbsp;
											</p>
									</li>
								</ul>
							</div>
							<div id="cate_1709" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
									<li>
									   <h3><a href="//drugs.dxy.cn/category/1710.htm">抗肿瘤药</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/58432.htm">艾诺宁</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/92467.htm">万珂</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/87218.htm">健择</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/55828.htm">匹服平</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/92680.htm">施达赛</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/55978.htm">爱必妥</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/92060.htm">安维汀</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/92047.htm">艾去适</a>&nbsp;
											<a href="//drugs.dxy.cn/drug/90798.htm">注射用硫酸长春新碱</a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1736.htm">内分泌治疗用药</a></h3>
										<p>
											<a href=""></a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1746.htm">免疫刺激剂</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/91184.htm">恩度</a>&nbsp;
										</p>
									</li>
									<li>
										<h3><a href="//drugs.dxy.cn/category/1750.htm">免疫抑制剂</a></h3>
										<p>
											<a href="//drugs.dxy.cn/drug/92051.htm">法益宁</a>&nbsp;
										</p>
									</li>

								</ul>
							</div>
							<div id="cate_1805" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
									<li>
											<h3><a href="//drugs.dxy.cn/category/1806.htm">麻醉剂</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/88437.htm">得普利麻</a>&nbsp;
											</p>
									</li>
									<li>
											<h3><a href="//drugs.dxy.cn/category/1819.htm">止痛药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
									</li>
									<li>
											<h3><a href="//drugs.dxy.cn/category/1839.htm">抗癫痫药</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/82918.htm">乐瑞卡</a>&nbsp;
											</p>
									</li>
									<li>
											<h3><a href="//drugs.dxy.cn/category/1849.htm">抗帕金森氏病药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
									</li>
									<li>
											<h3><a href="//drugs.dxy.cn/category/1860.htm">精神安定药</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/53827.htm">力月西</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/91655.htm">黛力新</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/87230.htm">再普乐</a>&nbsp;
											</p>
								   </li>
									<li>
											<h3><a href="//drugs.dxy.cn/category/1891.htm">精神兴奋药</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/91655.htm">黛力新</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/58766.htm">倍清星</a>&nbsp;
											</p>
									</li>
									<li>
											<h3><a href="//drugs.dxy.cn/category/1905.htm">其它神经系统药物</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/50205.htm">敏使朗</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/53949.htm">西比灵</a>&nbsp;
											</p>
									 </li>
								</ul>
							</div>
							<div id="cate_1961" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
										<li>
											<h3><a href="//drugs.dxy.cn/category/1962.htm">鼻用制剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1971.htm">咽喉用制剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										 <li>
											<h3><a href="//drugs.dxy.cn/category/1976.htm">抗哮喘药</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/89330.htm">氨茶碱注射液</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/87101.htm">万托林</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/153518.htm">苏顺</a>&nbsp;
												<a href="//drugs.dxy.cn/drug/91519.htm">舒利迭</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/1998.htm">咳嗽和感冒用药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2009.htm">全身用抗组胺药</a></h3>
											<p>
												<a href="//drugs.dxy.cn/drug/58525.htm">非那根</a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2018.htm">其它呼吸系统制剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
									</ul>
							</div>
							<div id="cate_2078" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
										<li>
											<h3><a href="//drugs.dxy.cn/category/2079.htm">过敏原</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2082.htm">所有其它治疗用产品</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2095.htm">诊断用药</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2112.htm">一般营养品</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2126.htm">所有其他非治疗用制品</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2140.htm">造影剂</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2154.htm">诊断用放射性药物</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2189.htm">治疗用放射性药物</a></h3>
											<p>
												<a href=""></a>&nbsp;
											</p>
										</li>
										<li>
											<h3><a href="//drugs.dxy.cn/category/2198.htm">外科敷料</a></h3>
											<p>
												<a href=""></a>&nbsp;
												</p>
										</li>

									</ul>
							</div>
							<div id="cate_2199" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
								</ul>
							</div>
							<div id="cate_10000" name="cate_div" class="index" style="display:none">
								<ul class="ullist clearfix">
									<li>
										<h3><a href="//drugs.dxy.cn/category/10001.htm">保健品</a></h3>
										 <p>
											<a href=""></a>&nbsp;
										</p>
									</li>
								</ul>
							</div>
					</div>
				</div>
				<div class="common_side mr-243 fl">
					<div class="sidemenu">
						<ul class="hide-more">
							 <li name="cur_cate"><a href="#" onclick="return selectCate(this,1000)">消化系统及代谢药</a></li>
							 <li name="cur_cate" class="cur"><a href="#" onclick="return selectCate(this,1226)">心血管系统药物</a></li>
							 <li name="cur_cate"><a href="#" onclick="return selectCate(this,1386)">皮肤病用药</a></li>
							 <li name="cur_cate"><a href="#" onclick="return selectCate(this,1607)">全身用抗感染药物</a></li>
							 <li name="cur_cate"><a href="#" onclick="return selectCate(this,1709)">抗肿瘤和免疫调节剂</a></li>
							 <li name="cur_cate"><a href="#" onclick="return selectCate(this,1805)">神经系统药物</a></li>
							 <li name="cur_cate"><a href="#" onclick="return selectCate(this,2078)">杂类</a></li>
						 </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div align="center" id="bottomdiv" style="width: 100%;height: auto;background-color: #e6e6e6">
    <br><br><br>
    <a href="" style="font-size: 14px;color: #4E5465">版权声明</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">作者编委</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香医生</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香诊所</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">投稿邮箱 doctor@dxy.com</a>
    <br><br>
    <span style="font-size: 16px;color: #4E5465">Copyright  2000-2019DXY All Rights Reserved</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙B2-20070219-5</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙卫(03)网审[2015]&nbsp;&nbsp;048号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">医疗器械网络销售备案表编号：（浙杭）网械企备字[2018]第00246号</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">第二类医疗器械经营备案凭证编号：浙杭食药监械经营备20153170号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">网络文化经营许可证：浙网文[2018]11330-875号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">食品许可证编号：JY13301080010985</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">出版物经营许可证：新出发滨字第0064号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">人力资源许可证编号：330101000525</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img2.gif">
    <a href="" style="font-size: 14px;color: #4E5465">浙公网安备 33010802004205号</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img1.png" style="height: 35px;width: 35px"/>
</div>
<script>
	function selectCate(self, cateId){
        var panels = jQuery("div[name=cate_div]"), triggers = jQuery("li[name=cur_cate]");
        panels.hide();
        triggers.removeClass('cur');
		var curr_cate_div = document.getElementById("cate_" + cateId);
		curr_cate_div.style.display = '';
		self.parentNode.className='cur';
		return false;
	}
</script>
</body>
</html>