<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">	
	<link rel="stylesheet" type="text/css" href="http://assets.dxycdn.com/app/drugs/css/ui/jquery.ui.all.css?t=1563582458861">
	<link href="http://assets.dxycdn.com/app/drugs/css/webapp.css?t=1563582458861" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="https://auth.dxy.cn/account/userlogin.do?callback=_da_oun" async=""></script>
	<script type="text/javascript" async="" src="https://d31qbv1cthcecs.cloudfront.net/atrk.js"></script>
	<script type="text/javascript" async="" src="http://da.dxy.cn/da.js"></script>	
	<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/core/jquery/1.7.2-min.js?t=1563582458861"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/app/drugs/js/jquery-ui-1.8.13.custom.min.js?t=1563582458861"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/core/widgets/star-rating/jquery.rating.js?t=1563582458861"></script>
	<script type="text/javascript" src="http://assets.dxycdn.com/app/drugs/js/common.js?t=1563582458861"></script>
	<script type="text/javascript" src="//drugs.dxy.cn/dwr/engine.js"></script> 
	<script type="text/javascript" src="//drugs.dxy.cn/dwr/util.js"></script> 
	<script>var homeurl = "//drugs.dxy.cn";</script>
</head>
<body class="bg-short">
<div id="sitenav" class="clearfix">
	<ul class="fl">
        <li class="ico mobile"><a target="_blank" href="">手机应用</a></li>
        <li class="ico family"><a target="_blank" href="">丁香医生</a></li>
        <li class="ico sina"><a target="_blank" href="">新浪微博</a></li>
        <li class="ico yao"><a target="_blank" href="">药品汇</a></li>
	</ul>
    <div class="fr">
    	<span class="fr" id="nav">
			<a href="">登录</a> 
    		<a href="">注册</a>
		</span>
    </div>
</div>
<div id="page">
	<div id="header">
    	<div class="header1 clearfix">
			<div class="logo fl">
				<a href="//drugs.dxy.cn/index.htm">丁香园</a>
			</div>			
		<div class="search_wrap fl">
			<div class="search_tab" id="J_SearchTab">
				<a id="searcher_1" class="cur" placeholder="如：阿司匹林或ASPL" action="" href="#">药品名称</a> 
				<a id="searcher_2" placeholder="请输入疾病名称，如：高血压" action="" href="#">适应症</a> 
				<a id="searcher_3" placeholder="请输入疾病名称，如：高血压" action="" href="#">用药禁忌</a>
			</div>
			<div class="search_bd clearfix">
				<form action="//drugs.dxy.cn/search/drug.htm" method="get" id="topSearchForm">
					<input type="text" value="" id="keyword" name="keyword" autocomplete="off" class="kewword fl ui-autocomplete-input" placeholder="如：阿司匹林或ASPL" role="textbox" aria-autocomplete="list" aria-haspopup="true">
					<input type="submit" value="搜&nbsp;索" class="search_btn fl">
					
			</div>
		</div>	
	</div>    
</div>
	<div id="container">
        <div class="common_hd clearfix">
            <div class="fl">血管保护剂</div>
            <div class="fr f12 result-status">该分类下共有药品：<span style="color:#f5a400">189</span>条</div>
        </div>
        <div class="common_bd clearfix">
            <div class="common_mainwrap fr">
                <div class="common_main">
					<!-- common_main -->
					<div class="m49 result">
                    	<ul class="list">
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">复方角菜酸酯乳膏- 西安杨森制药有限公司</a>
									</h3>								
									<p>									
										<b>商品名：</b>复方角菜酸酯乳膏&nbsp;&nbsp;														
										<b>成份：</b>本品为复方制剂，每100克含角菜酸酯2.5克、二氧化钛2克、氧化锌2克、利多卡因2克。										
										辅料为：聚氧乙烯二醇棕榈硬脂酸酯、饱和多糖甘油酯、二甲硅油、微晶纤维素、丙二醇、羟苯甲酯、羟苯...<br>					
										<b>适应症：</b>对痔疮及其它肛门疾患引起的疼痛、瘙痒、充血及少量出血进行对症治疗。					
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">地奥司明片 - 南京正大天晴制药有限公司</a>
									</h3>
									<p>
										<b>商品名：</b>葛泰&nbsp;&nbsp;						
										<b>成份：</b>本品主要成份为地奥司明。<br>					
										<b>适应症：</b>治疗与静脉淋巴功能不全相关的各种症状（如静脉性水肿、软组织肿胀、四肢沉重、麻木、疼痛，晨起酸胀不适感、血栓性静脉炎及深静脉血栓形成综合症等）；										
										治疗痔急性发作有关的各种症状（如痔静脉曲张引起的肛门潮湿、瘙痒、便血、疼痛等内外痔的急性发作症状）。									
									</p>
								</div>							
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">地塞米松植入剂 - 北京紫竹药业有限公司</a>
									</h3>
									<p>
										<b>商品名：</b>地塞米松植入剂&nbsp;&nbsp;			
										<b>成份：</b>地塞米松<br>								
										<b>适应症：</b>适用于由于白内障摘除并植入人工晶体后引起的术后眼内炎症。	
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">复方芦丁片	- 上海医药（集团）有限公司信谊制药总厂</a>
									</h3>
									<p>																		
										<b>商品名：</b>复方芦丁片&nbsp;&nbsp;						
										<b>成份：</b>本品为复方制剂，其组分为：每片含芦丁20mg，维生素C50mg。<br>		
										<b>适应症：</b>主要用于脆性增加的毛细血管出血症，也用于高血压、脑出血、视网膜出血，出血性紫癜，急性出血性肾炎、再发性鼻出血、创伤肺出血、产后出血等的辅助治疗。						
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">水杨酸苯酚贴膏 - 广东恒健制药有限公司</a>
									</h3>
									<p>																	
										<b>商品名：</b>水杨酸苯酚贴膏&nbsp;&nbsp;							
										<b>成份：</b>本品为复方制剂，每片含药膏量为0.2克。每克药膏含水杨酸780毫克，苯酚40毫克。辅料为：羊毛脂、凡士林、色素。<br>					
										<b>适应症：</b>用于鸡眼。								
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">复方醋酸地塞米松乳膏	 - 安徽江中高邦制药有限责任公司</a>
									</h3>
									<p>
										<b>商品名：</b>复方醋酸地塞米松乳膏&nbsp;&nbsp;			
										<b>成份：</b>本品为复方制剂，每克含醋酸地塞米松0.75毫克，樟脑10毫克，薄荷脑10毫克。																		
												辅料为：硬脂酸、单硬脂酸甘油酯、十六十八醇、白凡士林、二甲硅油、羟苯乙酯、平平加O、十二烷基硫酸钠、甘油、无水乙醇、香精。<br>						
										<b>适应症：</b>用于局限性搔痒症、神经性皮炎、接触性皮炎、脂溢性皮炎以及慢性湿疹。						
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">复方醋酸地塞米松乳膏- 广东众生药业股份有限公司</a>
									</h3>
									<p>
										<b>商品名：</b>复方醋酸地塞米松乳膏&nbsp;&nbsp;			
										<b>成份：</b>本品为复方制剂，每克含醋酸地塞米松0.75毫克，樟脑10毫克，薄荷脑10毫克。  										
											辅料为：羟苯乙酯、白凡士林、单、双硬脂酸甘油酯、硬脂酸、甘油、十二烷基硫酸钠、茉莉香精。<br>									
										<b>适应症：</b>用于局限性瘙痒症、神经性皮炎、接触性皮炎、脂溢性皮炎以及慢性湿疹。					
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">复方醋酸地塞米松乳膏 - 沈阳圣元药业有限公司</a>
									</h3>
									<p>
										<b>商品名：</b>复方醋酸地塞米松乳膏&nbsp;&nbsp;										
										<b>成份：</b>本品为复方制剂，每克含醋酸地塞米松0.75毫克，樟脑10毫克，薄荷脑10毫克。    
										<b>适应症：</b>用于局限性搔痒症、神经性皮炎、接触性皮炎、脂溢性皮炎以及慢性湿疹。									
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">复方醋酸地塞米松乳膏- 辽宁新高制药有限公司</a>
									</h3>
									<p>
										<b>商品名：</b>复方醋酸地塞米松乳膏&nbsp;&nbsp;									
										<b>成份：</b>本品为复方制剂，每克含醋酸地塞米松0.75毫克、樟脑10毫克、薄荷脑10毫克。  										
											-20、甘油、轻质液状石蜡、乙醇、二甲基亚砜、依地酸二钠、羟...<br>									
										<b>适应症：</b>用于局限性搔痒症、神经性皮炎、接触性皮炎、脂溢性皮炎以及慢性湿疹。							
									</p>
								</div>
                            </li>
							<li>
                            	<div class="fl">
                                	<h3>
										<a href="">复方醋酸地塞米松乳膏 - 新乡华青药业有限公司</a>
									</h3>
									<p>
										<b>商品名：</b>复方醋酸地塞米松乳膏&nbsp;&nbsp;		
										<b>成份：</b>本品为复方制剂，每支含醋酸地塞米松7.5毫克，樟脑100毫克，薄荷脑100毫克。  																				
											辅料为：白凡士林、单双硬脂酸甘油酯、硬脂酸、十二烷基硫酸钠、甘油、羟苯甲酯、羟苯丙酯、乙醇、纯化水。<br>					
											<b>适应症：</b>用于局限性搔痒症、神经性皮炎、接触性皮炎、脂溢性皮炎以及慢性湿疹。							
									</p>
								</div>
                            </li>
						</ul>
                    </div>		
                </div>
            </div>
        </div>
    </div>
</div>
<div align="center" id="bottomdiv" style="width: 100%;height: auto;background-color: #e6e6e6">
    <br><br><br>
    <a href="" style="font-size: 14px;color: #4E5465">版权声明</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">作者编委</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香医生</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香诊所</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">投稿邮箱 doctor@dxy.com</a>
    <br><br>
    <span style="font-size: 16px;color: #4E5465">Copyright  2000-2019DXY All Rights Reserved</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙B2-20070219-5</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙卫(03)网审[2015]&nbsp;&nbsp;048号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">医疗器械网络销售备案表编号：（浙杭）网械企备字[2018]第00246号</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">第二类医疗器械经营备案凭证编号：浙杭食药监械经营备20153170号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">网络文化经营许可证：浙网文[2018]11330-875号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">食品许可证编号：JY13301080010985</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">出版物经营许可证：新出发滨字第0064号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">人力资源许可证编号：330101000525</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img2.gif">
    <a href="" style="font-size: 14px;color: #4E5465">浙公网安备 33010802004205号</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img1.png" style="height: 35px;width: 35px"/>
</div>
<div id="goto-top" style="left: 1154.5px; display: none;"> <a href="#sitenav" title="回到页面顶部">回到顶部</a> </div>
</body>
</html>