<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="apple-touch-icon" href="http://assets.dxycdn.com/app/drugs2/img/2.png">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="google-site-verification" content="unVaqXQVedYf_e1nCic6sLqi8t64WibcEVwxAS8Z-QI">
	<link href="http://assets.dxycdn.com/app/drugs/fav.ico?t=1563582458861" rel="SHORTCUT ICON">
	<link rel="stylesheet" type="text/css" href="http://assets.dxycdn.com/app/drugs/css/ui/jquery.ui.all.css?t=1563582458861">
	<link href="http://assets.dxycdn.com/app/drugs/css/webapp.css?t=1563582458861" type="text/css" rel="stylesheet">
	<style>
		.common_side ml-243 fr{
			background-color:red;
		
		}
		#imgaa{
			margin-top:20px;
		}
		#dingyue{
			background-color:#F8A300;
		}
	
	</style>
</head>
<body class="bg-short"><input type="hidden" id="assets-cache-timestamp" value="1563582458861">
<div id="sitenav" class="clearfix">
	<ul class="fl">
        <li class="ico mobile"><a target="_blank" href="//drugs.dxy.cn/phone.htm">手机应用</a></li>
        <li class="ico family"><a target="_blank" href="http://app.dxy.cn/aspirin.htm">丁香医生</a></li>
        <li class="ico sina"><a target="_blank" href="http://weibo.com/drugsapp">新浪微博</a></li>
        <li class="ico yao"><a target="_blank" href="http://yao.dxy.cn">药品汇</a></li>
	</ul>
    <div class="fr">
    	<span class="fr" id="nav">
           	<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm">登录</a> 
			<a href="https://auth.dxy.cn/account/register.do?service=http://drugs.dxy.cn/index.htm">注册</a>
		</span>
    </div>
</div>
<div id="page">
	<div id="header">
		<div class="header1 clearfix">
			<div class="logo fl">
				<a href="//drugs.dxy.cn/index.htm">丁香园</a>
			</div>
			<div class="search_wrap fl">
					<div class="search_tab" id="J_SearchTab">
						<a id="searcher_1" class="cur" placeholder="如：阿司匹林或ASPL" action="//drugs.dxy.cn/search/drug.htm" href="#">药品名称</a> | 
						<a id="searcher_2" placeholder="请输入疾病名称，如：高血压" action="//drugs.dxy.cn/search/indication.htm" href="#">适应症</a> |
						<a id="searcher_3" placeholder="请输入疾病名称，如：高血压" action="//drugs.dxy.cn/search/contraindications.htm" href="#">用药禁忌</a>
					</div>
					<div class="search_bd clearfix">   		
						<form action="//drugs.dxy.cn/search/drug.htm" method="get" id="topSearchForm">
							<input type="text" value="" id="keyword" name="keyword" autocomplete="off" class="kewword fl ui-autocomplete-input" placeholder="如：阿司匹林或ASPL" role="textbox" aria-autocomplete="list" aria-haspopup="true">
							<input type="submit" value="搜&nbsp;索" class="search_btn fl">             
						</form>
					</div>
			</div>	
		</div>			
	</div>
	<div id="container">
    	<div class="corner_top"></div>
		<div class="common_hd clearfix">
			<div class="fl commend">
					盐酸胺碘酮注射液					
			</div>
        </div>           			
        <div class="common_bd clearfix">
			<div class="common_mainwrap fl">
				<div class="common_main mr260">   										
					<div class="m49 detail detail1">
							<dl>
								<dt><span class="fl">药品名称:</span></dt>
								<dd>
										通用名称：盐酸胺碘酮注射液<br>
										英文名称：Amiodarone Hydrochloride injection<br>
										商品名称：可达龙<br>
								</dd>
								<dt>
									<span class="fl" id="2">成份:</span>
        							<a href="#2" onclick="showDrugDetail(this,89790,2)" class="bg fr"></a>
        						</dt>
								<dd id="89790_2">
    									化学名称：本品主要成份为盐酸胺碘酮，其化学名称为2-丁基-3-苯并呋喃基4-【2-（二乙氨基）乙氧基】-3，5-二碘苯基甲酮盐酸盐 分子式：C25H29I2NO3·HCI 分子量：681.78 处方：...    										
								</dd>
    							<dd id="89790_2_detail" style="display:none">该信息登录才能查看，请<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm"><font color="red">登录</font></a>
								</dd>
    							<dt><span class="fl" id="3">适应症:</span></dt>
        						<dd>
    								<p>当不宜口服给药时应用本品治疗严重的心律失常，尤其适用于下列情况：</p>
										<ul>
											<li><p>房性心律失常伴快速室性心律；</p></li>
											<li><p>W-P-W综合征的心动过速；</p></li>
											<li><p>严重的室性心律失常；</p></li>
											<li><p>体外电除颤无效的室颤相关心脏停搏的心肺复苏。</p></li>
										</ul>    											    						
								</dd>
								<dt>
									<span class="fl" id="4">用法用量:</span>
        							<a href="#4" onclick="showDrugDetail(this,89790,4)" class="bg fr"></a>
        						</dt>
    							<dd id="89790_4">
    											由于药学原因，500ml中少于2安瓿注射液的浓度不宜使用。仅用等渗葡萄糖溶液配制。不要向输液中加入任何其他制剂。胺碘酮应尽量通过中心静脉途径给药。可达龙个体差异较大，需要给予负荷剂量来抑制危及生命的心...    											    	
								</dd>
    							<dd id="89790_4_detail" style="display:none">该信息登录才能查看，请<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm"><font color="red">登录</font></a>
								</dd>
    							 <dt>
        								<span class="fl" id="14">不良反应:</span>
        								<a href="#14" onclick="showDrugDetail(this,89790,14)" class="bg fr"></a>
        						</dt>
    							<dd id="89790_14">
    											根据器官系统和发生率对不良反应进行如下分类： 很常见（≥10%）；常见（≥1%，10%）；不常见（≥0.1%，1%）；罕见（≥0.01%，0.1%）；非常罕见（0.01%）。心脏异常：常见：心动过缓非...    										
	    						</dd>
    							<dd id="89790_14_detail" style="display:none">该信息登录才能查看，请<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm"><font color="red">登录</font></a>
								</dd>
    							<dt>
        								<span class="fl" id="12">禁忌:</span>
        								<a href="#12" onclick="showDrugDetail(this,89790,12)" class="bg fr"></a>
        						</dt>
    							<dd id="89790_12">
    											本品在如下情况下禁用：未安置人工起搏器的窦性心动过缓和窦房传导阻滞的患者；未安置人工起搏器的窦房结疾病的患者（有窦性停搏的危险）；未安置人工起搏器的高度房室传导障碍的患者；双或三分支传导阻滞，除非安装...   
								</dd>
    							<dd id="89790_12_detail" style="display:none">该信息登录才能查看，请<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm"><font color="red">登录</font></a></dd>
								<dt>
        								<span class="fl" id="13">注意事项:</span>
										<a href="#13" onclick="showDrugDetail(this,89790,13)" class="bg fr"></a>
        						</dt>
    							<dd id="89790_13">
    											必须预防低血钾的发生（并纠正低血钾）；应当对QT间期进行监测，如果出现“尖端扭转型室性心动过速”，不得使用抗心律失常药物（应给予心室起搏，可静脉给予镁剂）。由于存在血流动力学风险（重度低血压、循环衰竭...    	
								</dd>
    							<dd id="89790_13_detail" style="display:none">该信息登录才能查看，请<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm"><font color="red">登录</font></a>
								</dd>
								<dt>
        								<span class="fl" id="6">药物相互作用:</span>
        								<a href="#6" onclick="showDrugDetail(this,89790,6)" class="bg fr"></a>
        						</dt>
    							<dd id="89790_6">
    											抗心律失常药许多抗心律失常药对心脏的自律性、传导性和收缩性有抑制作用。联合使用不同种类的抗心律失常物可以从中获益，但通常需要进行密切的ECG和临床监测。严禁合并使用可以诱导尖端扭转型室速的抗心律失常药...  
								</dd>
    							<dd id="89790_6_detail" style="display:none">该信息登录才能查看，请<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm"><font color="red">登录</font></a>
								</dd>
 								
    							<dd id="89790_48_detail" style="display:none">该信息登录才能查看，请<a href="//drugs.dxy.cn/login.do?done=http%3A%2F%2Fdrugs.dxy.cn%2Fdrug%2F89790%2Fdetail.htm"><font color="red">登录</font></a>
								</dd>
    						
   								<dt><span class="fl" id="39">批准文号:</span>
								</dt>
        						<dd>
    								<p>进口药品注册证号H20181048</p>
									<p>进口药品分装批准文号：国药准字J20180044</p>    		
								</dd>
								<dt><span class="fl" id="1">生产企业:</span>
								</dt>
        						<dd>
										赛诺菲安万特（杭州）制药有限公司   
								</dd>
								<dt><span class="fl" id="7">药物分类:</span>
								</dt>
        						<dd>
    									抗心律失常药，III型    	
								</dd>																																											    
							</dl>
                    </div>   
                </div>
            </div>
			<div class="common_side ml-243 fr">
				<center>
					<div>
						 <div id="imghh">         
							   <img id="imgaa" style="width:200px;height:100px" src="layui-v2.5.4/layui/images/face/logo.jpg"><br/><br/>
							   <a><span style="font-size:25px">丁香医生</span></a></br><br/>
							   <span>健康科普平台</span>
						 </div>
					</div><br/>
					<button id="dingyue" style="width:100px;height:40px">订阅</button>
				</center>				
			</div>
        </div>
    </div>
</div>
<div align="center" id="bottomdiv" style="width: 100%;height: auto;background-color: #e6e6e6">
    <br><br><br>
    <a href="" style="font-size: 14px;color: #4E5465">版权声明</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">作者编委</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香医生</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">丁香诊所</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">投稿邮箱 doctor@dxy.com</a>
    <br><br>
    <span style="font-size: 16px;color: #4E5465">Copyright  2000-2019DXY All Rights Reserved</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙B2-20070219-5</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">浙卫(03)网审[2015]&nbsp;&nbsp;048号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">医疗器械网络销售备案表编号：（浙杭）网械企备字[2018]第00246号</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">第二类医疗器械经营备案凭证编号：浙杭食药监械经营备20153170号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">网络文化经营许可证：浙网文[2018]11330-875号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">食品许可证编号：JY13301080010985</a>
    <br><br>
    <a href="" style="font-size: 14px;color: #4E5465">出版物经营许可证：新出发滨字第0064号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 14px;color: #4E5465">人力资源许可证编号：330101000525</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img2.gif">
    <a href="" style="font-size: 14px;color: #4E5465">浙公网安备 33010802004205号</a>
    <br><br>
    <img src="layui-v2.5.4/layui/images/face/img1.png" style="height: 35px;width: 35px"/>
</div>
</body>
</html>